
<div *ngIf="showSuccessMessage" class="success-message show">
  Resposta Correta! +3000 LXP
</div>
<div *ngIf="showFailMessage" class="fail-popup">
  Resposta Incorreta, tente novamente.
</div>




<div class="selected-trail-card" style="margin-top: 120px !important;margin-bottom: 20px;">
  <p class="trail-title">Exercícios Feitos</p>
  <h3>{{ (trilhaService.trilha$ | async)?.rounds_step1 }}/{{ rounds_needed }}</h3>

  <div class="success-message2" *ngIf="(trilhaService.trilha$ | async)?.rounds_step1 >= 3">
    <h4 style="font-weight:bold;text-align: center">Parabéns! Etapa de Listening 1 concluída com Sucesso!</h4>
  </div>

  <button *ngIf="(trilhaService.trilha$ | async)?.rounds_step1 >= 3"
          style="margin-top: 10px;"
          mat-flat-button
          class="game-button"
          (click)="voltar()">
    Próxima Etapa
  </button>
</div>


<div class="exercise-container" *ngIf="(trilhaService.trilha$ | async)?.rounds_step1 < 3">


<!-- exercicio de listening config -->
<div  *ngIf="userChoiceStatus=='listening'">

  <!--
  tip Da pro usuairo escolher o tema do audio
   E tocar um audio e ele explicar oque ouviu no audio

   "Explique oque você entendeu do audio." (CAIXA MAIOR )

   -->



  <!-- card contagem de -->





  <!-- Container dos botões -->
  <div class="button-container-choice">
    <!-- Botão "Eu escolho o tema" -->
    <button class="custom-button" (click)="selecionarTema(true)">
      <img src="assets/lingobot/icons/ideia.png" alt="Escolher tema">
      <span>Eu escolho o tema</span>
    </button>

    <!-- Botão "Tema Aleatório" -->
    <button class="custom-button" (click)="selecionarTema(false)">
      <img src="assets/lingobot/icons/dados.png" alt="Tema aleatório">
      <span>Tema Aleatório</span>
    </button>
  </div>

  <!-- Texto explicativo e input para escolha do tema -->
  <div *ngIf="exibirFormulario">
    <p>
      <b style="color: rebeccapurple">
        Escolha um tema que tenha a ver com seus interesses!
      </b>
      Pode ser algo relacionado à sua carreira, estudos, ou algo mais descontraído, como filmes, músicas e viagens, sobre alguém que você é fã etc, mas deve fazer sentido para você.
      <b style="color: rebeccapurple">
        Após ouvir o áudio, explique o que entendeu e o LingoBot irá avaliar sua compreensão.
      </b>
    </p>

    <!-- Caixa de texto para escolher o tema -->
    <form [formGroup]="formulario">
      <input type="text"
             formControlName="mainTheme"
             class="answer-input"
             placeholder="Exemplo: Tecnologia, Filmes, Viagens..." />
    </form>
    <!-- Botão para gerar exercício -->
    <div >
      <button mat-flat-button class="game-button" (click)="enviarTema()">Gerar Exercício</button>
    </div>

  </div>


  <!-- Loading -->
  <div class="loading-dots" *ngIf="isLoading">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>




</div><!-- exercicio de listening config gerarExercicio()-->

  <div class="loading-dots" *ngIf="isLoading" style="margin-top: 120px; margin-bottom: 50px;">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
  <h4 *ngIf="isLoading" style="font-size: 13pt;text-align: center;padding: 10px;margin: 10px;color: rebeccapurple">LingoBot está criando um aúdio personalizado...</h4>


  <div *ngIf="userChoiceStatus=='listening_exercise' && !isLoading" style="width: 100% !important;">


    <div *ngIf="audioUrl" style="text-align: center;">
      <img
        [src]="isPlaying ? 'assets/lingobot/imgs/audio.png' : 'assets/lingobot/imgs/audio-nao-tocando.png'"
        alt="Tocar áudio"
        (click)="playAudio()"
        [class.pulse]="isPlaying"
        style="cursor: pointer; width:120px;"
      >
      <p style="font-size: 10px; color: gray; margin-top: 5px;">Toque para ouvir novamente.</p>
    </div>

    <p *ngIf="playCount >= 2">{{ exerciseText }}</p> <!-- O texto só aparece após 3 toques -->



    <form [formGroup]="formulario2">
      <p style="font-size: 11pt">Obs: Responda em português, se preferir...</p>

      <textarea
        formControlName="userResponse"
        class="answer-input"
        placeholder="O que você entendeu?"
        rows="4"
      cols="50"
      ></textarea>
    </form>




    <div class="loading-dots" *ngIf="isLoading2">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>



  <div class="button-container animation-zoom">
    <button  mat-flat-button class="game-button" (click)=" enviarResposta()" *ngIf="this.disableResponseButtons">Responder</button>
  </div>

  <br>


</div> <!-- exercicio de listening -->






</div> <!-- exercise-container -->



<style>

  .answer-input {
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    height: 100px;
    outline: none;
    width: 90%;
    background: white !important;
  }


  /* Responsividade para mobile */
  @media (max-width: 768px) {
      .exercise-container{

      }
  }
</style>
