

<div  class="my-smartcards-conteiner">

  <!-- ter saudações inciais -->
  <!--
    ter comandos
            (de ver o nivel do usuario e direcionar oque ele deve aprender para evoluir)
            (Treinar conversação)
            (Dica aleatoria de inglês)
            (um Phrsal verb)
            (Dica de conversation)
            (Dica de listening)
            (Dica gramtical)



            Gostaria de salvar a conversa em um localStorage, para manter a memoria do teacher


            Conversação do robo -
   -->

  <div style="text-align:center;margin-top:10px;">
    <h2>Talk with your Teacher</h2>
    <p>Tire suas dúvidas, aprenda coisas novas e treine conversação.</p>
  </div>




<!--
In grammar, give options what to learn


“I can teach you grammar, vocabulary, pronunciation, and <strike>conversation practice.</>
 We can cover topics like verb tenses, common phrases, accent reduction, and real-life scenarios.
  Would you like to start with a specific topic or area of focus?”

-->


  <div class="container">
    <div class="sidebar thumb" *ngIf="!isPlaying || !sended">
      <h2 style="text-align: center">Commands</h2>
      <button (click)="sendToAI('Give me a Pronunciation Tip')" class="button" mat-flat-button>Pronunciation Tip</button>
      <button (click)="sendToAI('Give me a Grammar Tip')" class="button" mat-flat-button>Grammar Tip</button>
      <button (click)="sendToAI('Give me a Conversation Tip')" class="button" mat-flat-button>Conversation Tip</button>
      <button (click)="sendToAI('Give me a Listening Tip')" class="button" mat-flat-button>Listening Tip</button>
      <button (click)="sendToAI('Give me a Vocabulary Tip')" class="button" mat-flat-button>Vocabulary Tip</button>

      <!-- Adicione mais botões conforme necessário -->
    </div>
    <div class="content">

      <div style="text-align:center;margin-top:10px;" *ngIf="!isLoading">

        <p style="font-size: 16pt !important;padding: 10px;font-family: sans-serif">“{{this.responseAI}}”</p>

        <img width="50%" height="50%" style='border-radius:10px;' src="https://i.pinimg.com/originals/93/2f/d0/932fd00d9b43753061c47739f0cc777b.gif" *ngIf="isPlaying" >

        <br>
        <b *ngIf="isPlaying" style="color: orange;margin-top:200px;">Your teacher is talking...</b>
        <b *ngIf="!isPlaying" style="color: lawngreen;margin-top:200px;">Your turn to talk...</b>



        <mat-form-field *ngIf="!isPlaying" appearance="fill" style="width:100%;margin-top:150px;height: 25vh;">
          <mat-label>Talk with your Teacher</mat-label>
          <input matInput [(ngModel)]="text">
          <div style="float: right;margin:0px;">
          <button class="btn-tool" mat-flat-button (click)="sendToAI(this.text)">Send</button>
        </div>
        </mat-form-field>

      </div>

      <div *ngIf="isLoading"  style="margin-top: 10%">
        <div class="center" >
          <mat-spinner></mat-spinner>
        </div>
        <br>
        <h3 class="titulo">Loading...</h3>
      </div>



    </div>
  </div>




</div>
