
<h3 style="text-align: center;margin: 20px;">Phrsal Verbs</h3>


<mat-spinner  *ngIf="isLoading"  color="primary" style="margin: 35px auto auto;"></mat-spinner>

  <mat-card *ngIf="!isLoading" >
    <mat-card-header>
      <mat-card-title><h2 class="color">O Phrasal Verb é:</h2></mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <p style="font-size:21pt;">{{phrasalVerb}}</p>
    </mat-card-content>

    <mat-card-footer>
       <button mat-flat-button (click)="generatePhrsalVerb()">Gerar novo Phrsal Verb</button>
    </mat-card-footer>
  </mat-card>




