.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}

button.game-button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  font-size: 14pt;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  outline: none;
  background: linear-gradient(145deg, #007bff, #6f42c1);
  box-shadow: 0 5px 0 #0056b3, 0 8px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}

button.game-button:hover {
  background: linear-gradient(145deg, #1e90ff, #8a2be2);
}

button.game-button:active {
  box-shadow: 0 2px 0 #0056b3, 0 4px 6px rgba(0, 0, 0, 0.3);
}

button.game-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
  transition: left 0.5s ease-in-out;
}

button.game-button:hover::before {
  left: 100%;
}





.success-message {
  background: linear-gradient(145deg, #4CAF50, #66BB6A); /* Gradiente verde suave */
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(-10px); }
}
