

<div
  class="holograma-card"
  *ngIf="modal || isClosing"   [class.open]="modal && !isClosing"
  [class.close]="isClosing"
>



  <div  >
    <h3 class="title">
      Alterar Dificuldade
    </h3>

    <div class="difficulty-list">
      <div
        class="difficulty-item"
        *ngFor="let diff of difficulties"
        [class.selected]="selectedDifficult === diff.id"
        (click)="changeDifficult(diff.id)"
      >
        <img [src]="diff.img" alt="{{ diff.title }}" class="difficulty-img" />
        <div class="difficulty-text">
          <h3>{{ diff.title }}</h3>
          <p>{{ diff.description }}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="center-element x-position"  (click)="openSettings()">
    <img src="assets/lingobot/menu-icons/x.webp" class="x">
  </div>


</div>


<img
  *ngIf="this.modal"
  src="assets/lingobot/menu-icons/holograma.webp"
  class="projetor entrar-da-esquerda"
  [ngClass]="{'sair-para-esquerda': animandoSaida}"
  (animationend)="onAnimationEnd($event)"
>


