<div class="home-icon" (click)="navigate_to()">
  <mat-icon>home</mat-icon>
</div>

<div class="metas-container">
  <div *ngFor="let key of metasKeys">
    <div class="meta-item">
      <span class="meta-name">{{ metasNomes[key] }}</span>

      <span class="meta-reward">+{{ metasLXP[key] }} LXP</span>

      <!-- Botão com regras de ativação e estilos -->
      <button
        class="game-button"
        [class.claimed]="isClaimDisabled(key)"
        [disabled]="isClaimDisabled(key)"
        (click)="claimMeta(key)">
        Claim
      </button>

    </div>
  </div>
</div>
<style>
  /* Ícone dentro do escopo - canto superior esquerdo */
  .home-icon {
    float: left !important;
    padding: 8px;
    cursor: pointer;
    font-size: 24px;
    color: #333; /* Cor do ícone */
    transition: color 0.3s;
  }

  /* Efeito hover para destacar o clique */
  .home-icon:hover {
    color: #007bff;
  }

  /* Mantém o ícone dentro do container */
  .container {
    position: relative;
    padding: 20px;
  }
  .metas-container{
    margin-top:  50px;
  }

  /* TELAS MOBILE - Esconde o ícone */
  @media (max-width: 768px) {
    .metas-container{
      margin-top: 120px;
    }
    .home-icon {
      display: none;
    }



  }

</style>
