/* HEADER MOBILE */
@media (max-width: 768px) {
  .mobile-header {
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;

    /**     background: linear-gradient(135deg, #4A90E2, #904E95); **/
    color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;
  }

  .user-card {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
  }

  h2 {
    font-size: 16px;
    margin: 0;
    text-align: left;
  }

  .tokens {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .token-icon {
    width: 30px;
    height: 27px;
  }

  .token-text {
    font-size: 16px;
    font-weight: bold;
    color: #FFD700;
  }

  .level-info {
    text-align: center;
    margin-top: 10px; /* Espaço entre o avatar/nome e a barra de XP */
  }

  .level-bar {
    width: 80%;
    margin: 5px auto;
    height: 15px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
  }

  .progress {
    height: 100%;
    background: #FFD700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.5s ease-in-out; /* Adiciona animação suave */
  }

  .progress-text {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    position: absolute;
    width: 100%;
    text-align: center;
  }

  .menu-icons-container {
    display: flex;
    justify-content: center; /* Centraliza os ícones */
    margin-top: 10px; /* Espaço entre a barra de XP e os ícones */
  }

  .menu-icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .menu-icon {
    width: 35px;
    height: 35px;
  }
}
