<header>



  <img src="assets/lingobot/logo-final-transparent.png" alt="Logo" class="logo">


  <div class="user-card">
    <div class="user-info">
      <img src="assets/lingobot/lingobot-icon.png" alt="User Photo" class="avatar">
      <div class="user-details">
        <h2>Robert Fox</h2>
        <p>LingoPoints: 9999</p>
        <div class="level-bar">
          <div class="progress" style="width: 65%;"></div>
        </div>
        <p class="level-text">Nível 12</p>
      </div>
    </div>
  </div>





  <img src="assets/lingobot/lingobot-fotogenico.png" alt="Extra Photo" class="extra-photo">
</header>
