
<header style="
   margin-top: 20px !important;
   height: 40px !important;
   border-radius: 50px !important;
   width: 50% !important;
  backdrop-filter: blur(16px); /* Efeito de vidro mais leve */
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* Sombra bem sutil */
  z-index: 9999112111


" class="mobile-header" *ngIf="!this.isLoginRoute">

  <div class="menu-icons-container" style="margin-top: 5px !important; ">
    <div class="menu-icons">


      <img src="assets/lingobot/tools-icons/tablet-icon.png" style="width: 15% !important;height: auto;"  alt="User Infos" class="menu-icon"  (click)="toggleCelularModal();"  >
      <img src="assets/lingobot/menu-icons/icone-ranking.png" alt="Ranking" class="menu-icon" (click)="toggleRankingModal();">
      <img src="assets/lingobot/menu-icons/store.png" alt="Moedas" class="menu-icon" (click)="commingSoon();">
      <img src="assets/lingobot/menu-icons/gear_icon.png" alt="Configurações" class="menu-icon"  (click)="toggleSettingsModal();">
    </div>
  </div>


</header>

