<div class="container">
  <app-battery></app-battery>
  <app-account-settings></app-account-settings>
  <app-daily-mission></app-daily-mission>
  <app-item-modal></app-item-modal>
  <app-settings></app-settings>
  <app-mug-translate   top="3vh" right="1vh"   zIndex="99" ></app-mug-translate>
  <app-select-quest-modal
    *ngIf="modalService.showSelectQuestModal$ | async"
    [currentSubject]="getTextoPorAndar().toLowerCase()">
  </app-select-quest-modal>
  <div class="video-container">
    <!-- Loading por cima -->
    <div class="loading-spinner" *ngIf="loading">
      <img src="assets/lingobot/menu-icons/lingobot-energy-on.webp" alt="Loading" />
    </div>

    <!-- Vídeo ao fundo -->
    <video
      #videoPlayer
      autoplay
      playsinline
      preload="auto"
      muted
      poster="assets/lingobot/main-animation/poster.webp"
      class="background-video"
    >

    </video>
  </div>
  <!-- INDICADOR DO ANDAR ATUAL -->
  <div class="tabua">
    <img src="assets/lingobot/menu-icons/floor-indicator-icon.webp">
    <h3> N° {{ andarAtual }}</h3>
  </div>
  <!-- MENU slider -->
  <div
    class="game-menu-container"
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd($event)"
  >
    <div class="menu-wrapper">
      <div
        class="menu-item"
        *ngFor="let item of menuItems; let i = index"
        [@iconTransition]
        [ngStyle]="getItemStyle(i)"
        (click)="openModal(item.icon)"
      >
        <img [src]="item.icon"  />
      </div>
    </div>
  </div>







  <!-- COMMANDOS -->
  <div class="background-commands"  >

    <div class="main-commands">


      <!-- ARROW DOWN -->
    <div class="commands-group">
      <div class="command" (click)="command('down')" [ngClass]="{'disabled': isDownArrowDisabled}" [style.pointerEvents]="isDownArrowDisabled ? 'none' : 'auto'">
        <img src="assets/lingobot/menu-icons/arrow_down.webp"
             class="img-command">
      </div>


         <!-- OPEN MISSIONS MODAL -->
      <div class="command" (click)="command('in')">
        <img [src]="currentElderImage"
          class="img-command-center">
      </div>



    <!-- ARROW UP -->
      <div class="command" (click)="command('up')" [ngClass]="{'disabled': isUpArrowDisabled}" [style.pointerEvents]="isUpArrowDisabled ? 'none' : 'auto'">
        <img src="assets/lingobot/menu-icons/arrow_up.webp" class="img-command">
      </div>

    </div> <!-- commands group -->
    </div>
  </div> <!-- background commands -->
</div>

