<!--
<div class="modal-overlay" *ngIf="isVisible">
  <div class="modal-content">
    <img [src]="image" alt="Feedback Image" class="feedback-image" />
    <p class="feedback-message">{{ message }}</p>
    <button mat-flat-button  (click)="closeModal()" class="game-button">{{ buttonText }}</button>
  </div>
</div>
-->
<div  *ngIf="isVisible" class="level-up-modal">
  <div class="modal-content animate">
    <img [src]="image" alt="Level Up" class="level-up-image">
    <p class="feedback-message" style="color: white !important;font-size: 15pt !important;font-weight: bold;margin-top: 10px;padding: 10px;">{{ message }}</p>
    <button class="game-button" (click)="closeModal()">Continuar</button>
  </div>
</div>
