<div class="baloon-container">
  <div class="dialog-baloon">
    <p class="dialog-text" *ngIf="!jackpot">{{ dialogText }}</p>

    <div *ngIf="jackpot" class="dialog-text">
      🎉 JACKPOT! 🎉 <br />
      <span>Seus prêmios foram dobrados!</span>
    </div>
  </div>

  <!-- Labels animados no canto inferior esquerdo -->
  <div class="reward-label gold-label animate-gold">
    <img src="assets/lingobot/itens/gold.webp" alt="Moedas" />
    <span>+{{ reward_coins }} moedas</span>
  </div>

  <div class="reward-label xp-label animate-xp">
    <img src="assets/lingobot/menu-icons/level.webp" alt="XP" />
    <span>+{{ reward_xp }} XP</span>
  </div>

  <div class="reward-label level-up-label animate-level-up">
    <img [src]="leveledUpSkillIcon" alt="Level Up" />
    <span>Level Up!</span>
  </div>

  <div *ngIf="jackpot" class="reward-label jackpot-label animate-jackpot">
    <span>🎉</span>
    <span>JACKPOT!</span>
  </div>
</div>

<img class="character-img" [src]="elder_img" />


<img
  [src]="chestImage"
  class="chest"
  [ngClass]="{'animate': !chestWasOpen}"
  (click)="openChest()"
>

<div
  class="finish-button"
  *ngIf="chestWasOpen"
  (click)="back();"
>
  <img src="assets/lingobot/menu-icons/confirm.webp">
</div>

