<div class="baloon-container"  >
  <div class="dialog-baloon"  >

    <div class="rewards-container">
      <p class="rewards-title" *ngIf="!jackpot">Parabéns, você venceu o desafio e ganhou:</p>

      <ul class="reward-list">
        <li>
          <img src="assets/lingobot/itens/gold.png" class="reward-icon" />
          <span class="reward-text gold-text">{{ reward_coins }} moedas</span>
        </li>
        <li>
          <img src="assets/lingobot/icons/lxp.png" class="reward-icon" />
          <span class="reward-text xp-text">{{ reward_xp }} XP</span>
        </li>
      </ul>

      <div *ngIf="jackpot" class="jackpot-pulse">
        🎉 JACKPOT! 🎉 <br />
        <span style="color: black !important;">Seus prêmios foram dobrados!</span>
      </div>
    </div>




  </div>
</div>


<img class="character-img" [src]="elder_img"  >
