

<!--
<button (click)="shakePadLock()" style="position: absolute;width: 100%;height: auto;top: 10vh;z-index:9999999999;">test</button>
<button (click)="jackpotWinAnimation()" style="position: absolute;width: 100%;height: auto;top: 20vh;z-index:9999999999;">Testar</button>

-->


<app-life-bar></app-life-bar>



<div class="video-container">
  <!-- Loading por cima -->
  <div class="loading-spinner" *ngIf="loading">
    <img src="assets/lingobot/menu-icons/lingobot-energy-on.png" alt="Loading" />
  </div>

  <!-- Vídeo ao fundo -->
  <video
    #videoPlayer
    playsinline
    preload="auto"
    poster="assets/lingobot/cenas_na_masmorra/reading/poster.jpg"
    class="background-video"
  >

    <source src="https://firebasestorage.googleapis.com/v0/b/geekco-image-storage.appspot.com/o/reading-chest-video-compress.mp4?alt=media&token=8b813cb6-4794-4a20-b69f-447669b283f5" type="video/mp4" />
  </video>





  <div class="baloon-container"  *ngIf="dialogService.currentLine$ | async as line"  >

    <div class="dialog-baloon">
      <p>  {{ line.text }}</p>
    </div>

  </div>




  <img class="character-img" [src]="elder"  *ngIf="this.dialogService.isActive">

  <img (click)="openTabletModal(); "  class="tablet" src="assets/lingobot/tools-icons/tablet-icon.png"  *ngIf="!this.dialogService.isActive && !hideOnWin">



  <div class="dialog-box"  *ngIf="this.dialogService.isActive && !this.dialogService.isFinalDialog">
    <div class="dialog-controls">
      <img
        src="assets/lingobot/menu-icons/back.png"
        alt="Voltar"
        class="arrow-button left"
        (click)="prev(); "
      />

      <img
        src="assets/lingobot/menu-icons/right.png"
        alt="Avançar"
        class="arrow-button right"
        (click)="next(); "
      />
    </div>
  </div>









  <ng-container *ngIf="tabletModal">
    <button (click)="openTabletModal()" class="fechar-btn">✕</button>

    <img src="assets/lingobot/paper.png" class="quest-check bouncing-animation">


    <div class="quest-check-text" >
      <p style="text-align: center;">

      </p>
    </div>


    <div class="glass-container" >
      <div class="text-box">
        <div *ngFor="let pair of sentencePairs; let i = index">
          <p (click)="toggleTranslation(i)">
            {{ pair.en }}
          </p>
          <p *ngIf="pair.show" style="color: darkgoldenrod; margin-left: 10px;">
            {{ pair.pt }}
          </p>
        </div>
      </div>
      <br>
      <div class="text-box" *ngIf="this.tipCounts >= this.tipLimit">
        Tip: {{ this.currentTip }}
      </div>
    </div>

  </ng-container>









  <div class="glass-box" *ngIf="!this.dialogService.isActive && !hideOnWin">
    <form class="commands-group">
    <textarea
      #textoInput
      class="command-textarea"
      placeholder="Digite a palavra passe aqui..."
    ></textarea>

      <button type="button" (click)="enviarResposta(textoInput.value); " class="submit-button">
        <img src="assets/lingobot/menu-icons/confirm.png" alt="Confirmar" />
      </button>
    </form>
  </div>




  <div class="finish-button" *ngIf="hidePosWin"  (click)="back();" >
    <img src="assets/lingobot/menu-icons/confirm.png"  >
  </div>




  <app-after-win-dialog
    *ngIf="hidePosWin"
    [jackpot]=this.jackpot
    [elder_img]="'assets/lingobot/elders/reading/win.png'"
    [reward_xp]="this.finalXpReward"
    [reward_coins]="this.finalGoldReward">
  </app-after-win-dialog>

</div> <!-- video container -->









