

<!--
<button (click)="shakePadLock()" style="position: absolute;width: 100%;height: auto;top: 10vh;z-index:9999999999;">test</button>
<button (click)="jackpotWinAnimation()" style="position: absolute;width: 100%;height: auto;top: 20vh;z-index:9999999999;">Testar</button>

-->


<app-life-bar></app-life-bar>



<div class="video-container">
  <!-- Loading por cima -->
  <div class="loading-spinner" *ngIf="loading">
    <img src="assets/lingobot/menu-icons/lingobot-energy-on.webp" alt="Loading" />
  </div>

  <!-- Vídeo ao fundo -->
  <video
    #videoPlayer
    playsinline
    preload="auto"
    poster="assets/lingobot/cenas_na_masmorra/reading/poster.webp"
    class="background-video"
  >

    <source src="https://firebasestorage.googleapis.com/v0/b/geekco-image-storage.appspot.com/o/reading-chest-video-compress.mp4?alt=media&token=8b813cb6-4794-4a20-b69f-447669b283f5" type="video/mp4" />
  </video>





  <div class="baloon-container"  *ngIf="dialogService.currentLine$ | async as line"  >

    <div class="dialog-baloon">
      <p>  {{ line.text }}</p>
    </div>

  </div>




  <img class="character-img" [src]="elder"  *ngIf="this.dialogService.isActive">

 

<div class="blackboard-content center-element" *ngIf="!this.dialogService.isActive && !hideOnWin">
  <div class="blackboard-text">
    <div class="glass-container">
      <div class="text-box scrollable">
     <span  class="translate-text">Toque para Traduzir</span>
        <div class="sentence-pair" *ngFor="let pair of sentencePairs; let i = index">
 

          <p class="english-text" (click)="toggleTranslation(i)">
            {{ pair.en }}
          </p>
          <p class="portuguese-text" *ngIf="pair.show">
            {{ pair.pt }}
          </p>
        </div>
      </div>
      <div class="tip-box" *ngIf="this.tipCounts >= this.tipLimit">
        <span class="tip-text">Tip: {{ this.currentTip }}</span>
      </div>
    </div>
  </div>
</div>
 

  <div class="dialog-box"  *ngIf="this.dialogService.isActive && !this.dialogService.isFinalDialog">
    <div class="dialog-controls">
      <img
        src="assets/lingobot/menu-icons/back.webp"
        alt="Voltar"
        class="arrow-button left"
        (click)="prev(); "
      />

      <img
        src="assets/lingobot/menu-icons/right.webp"
        alt="Avançar"
        class="arrow-button right"
        (click)="next(); "
      />
    </div>
  </div>







 







  <div class="glass-box" *ngIf="!this.dialogService.isActive && !hideOnWin">
    <form class="commands-group">
    <textarea
      #textoInput
      class="command-textarea"
      placeholder="Digite a palavra passe aqui..."
    ></textarea>

      <button type="button" (click)="enviarResposta(textoInput.value); " class="submit-button">
        <img src="assets/lingobot/menu-icons/confirm.webp" alt="Confirmar" />
      </button>
    </form>
  </div>


 



 <!-- this.jackpot-->

  <app-after-win-dialog
    *ngIf="hidePosWin"
    [jackpot]=this.jackpot
    [elder_img]="'assets/lingobot/elders/reading/win.webp'"
    [reward_xp]="this.finalXpReward"
    [reward_coins]="this.finalGoldReward">
  </app-after-win-dialog>

</div> <!-- video container -->









