<div class="home-icon" (click)="navigate_to()">
  <mat-icon>home</mat-icon>
</div>

<div class="container">
  <h2>Programa de Compartilhamento</h2>
  <img src="assets/lingobot/lingobot-mar-de-moedas-2.png" alt="Imagem de compartilhamento" class="referral-img" />

  <p class="highlight-text">
    Compartilhe o App LingoBot com seus amigos e ganhe <span class="gold-text">+5000</span> LingoTokens
    por cada nova conta criada.
  </p>

  <div class="referral-section">
    <h4>Código de Referência</h4>
    <p class="referral-code">{{ this.user.referal_code }}</p>
  </div>

  <div class="referral-link">
    <span>Seu link de referral:</span>
    <input type="text" [value]="referralLink" readonly />
    <button mat-flat-button class="game-button" (click)="copiarLink()" style="color: white !important;padding: 0px !important;">
      <mat-icon  style="padding-left: 10px">content_copy</mat-icon>
    </button>
  </div>

  <div *ngIf="showSuccessMessage" class="success-message">
    Link copiado com sucesso!
  </div>

  <div class="moedas">
    <span>Total de LingoTokens ganho:</span>
    <div class="moeda-info">
      <img src="assets/lingobot/icons/LingoToken.png" alt="Moeda" class="moeda-img" />
      <span>{{ this.totalLingoTokens }}</span>
    </div>
  </div>
</div>


<style>
  /* Ícone dentro do escopo - canto superior esquerdo */
  .home-icon {
    float: left !important;
    padding: 8px;
    cursor: pointer;
    font-size: 24px;
    color: #333; /* Cor do ícone */
    transition: color 0.3s;
  }

  /* Efeito hover para destacar o clique */
  .home-icon:hover {
    color: #007bff;
  }

  /* Mantém o ícone dentro do container */
  .container {
    position: relative;
    padding: 20px;
  }


  /* TELAS MOBILE - Esconde o ícone */
  @media (max-width: 768px) {

    .home-icon {
      display: none;
    }



  }

</style>
