<div class="video-container">

  <app-life-bar></app-life-bar>




  <!-- Loading por cima -->
  <div class="loading-spinner" *ngIf="loading">
    <img src="assets/lingobot/menu-icons/lingobot-energy-on.png" alt="Loading" />
  </div>

  <!-- Vídeo ao fundo -->
  <video
    #videoPlayer
    playsinline
    preload="auto"
    poster="assets/lingobot/cenas_na_masmorra/listening/poster.jpg"
    class="background-video"
  >

    <source src="https://firebasestorage.googleapis.com/v0/b/geekco-image-storage.appspot.com/o/listening-compress.mp4?alt=media" type="video/mp4" />
  </video>


  <app-after-win-dialog
    *ngIf="finishButton"
    [jackpot]=this.jackpot
    [elder_img]="'assets/lingobot/elders/listening/parado.png'"
    [reward_xp]="this.finalXpReward"
    [reward_coins]="this.finalGoldReward">
  </app-after-win-dialog>





  <div class="baloon-container" *ngIf="dialogService.currentLine$ | async as line" >
  <div class="dialog-baloon">
    <p>  {{ line.text }}</p>
</div>


   <img
     [src]="line.expression"
     class="character-img"
   >


   </div>


<div class="baloon-container" *ngIf="this.tipsCount >= this.tipsMax" >
  <div class="dialog-baloon">
    <p >Tente escrever: <b style="color: darkgoldenrod">"{{this.currentExercise.phrase}}"</b></p>
  </div>
</div>


  <img
    [src]="elder"
    class="character-img"
    style="top: 45vh !important;"
    *ngIf="!this.dialogService.isActive && !hidePosWin"
  >


  <app-mug-translate   top="3vh" right="1vh"    ></app-mug-translate>


<img
  [src]="isPlaying ? 'assets/lingobot/cenas_na_masmorra/listening/vitrola-on.png' : 'assets/lingobot/cenas_na_masmorra/listening/vitrola-off.png'"
  alt="Tocar áudio"
  (click)="playAudio()"
  [class.pulse]="isPlaying"
  class="vitrola"
  style="cursor: pointer;"
  *ngIf="cenarioCount < 3"
/>



<!-- ETAPA ATUAL E TRADUÇÃO (opcional) -->
<div class="status-text" *ngIf="cenarioCount < 3 && !dialogService.isActive">
  <p *ngIf="currentStep === 0" ><span>Passo 1 de 3:</span><br> Escreva a primeira parte</p>
  <p *ngIf="currentStep === 1"  ><span  >Passo 2 de 3:</span><br> Escreva a segunda </p>
  <p *ngIf="currentStep === 2"  ><span  >Passo 3 de 3:</span><br> Escreva a frase em inglês</p>
  <p *ngIf="currentStep === 2" >Tradução: <strong  >{{ currentExercise.translate }}</strong>
  </p>
</div>




  <!--

    <div  *ngIf="dialog == 6 && this.tipsCount < this.tipsMax" >

    <form class="commands-group" (submit)="enviarResposta(textoInput.value, textoInput); $event.preventDefault();">
  <textarea
    #textoInput
    class="command-textarea"
    placeholder="Digite o que ouviu aqui..."
    rows="2"
    autofocus
  ></textarea>

      <button type="submit" mat-flat-button>
        <img src="assets/lingobot/menu-icons/confirm.png" alt="Enviar" style="width: 30%;height: auto"  />
      </button>
    </form>

  </div>  CAIXA DE TEXTO RESPONDER END

  -->






  <div class="glass-box" *ngIf="!this.dialogService.isActive && !hidePosWin">
    <form class="commands-group" (submit)="enviarResposta(textoInput.value, textoInput); $event.preventDefault();">
    <textarea
      #textoInput
      class="command-textarea"
      placeholder="Digite o que ouviu aqui..."
      autofocus
    ></textarea>

      <button type="submit" class="submit-button">
        <img src="assets/lingobot/menu-icons/confirm.png" alt="Confirmar" />
      </button>
    </form>
  </div>











  <div class="dialog-box"  *ngIf="this.dialogService.isActive && !this.dialogService.isFinalDialog">
    <div class="dialog-controls">
      <img
        src="assets/lingobot/menu-icons/back.png"
        alt="Voltar"
        class="arrow-button left"
        (click)="prev();  "
      />

      <img
        src="assets/lingobot/menu-icons/right.png"
        alt="Avançar"
        class="arrow-button right"
        (click)="next(); "
      />
    </div>
  </div>


  <div class="finish-button" *ngIf="finishButton"  (click)="back();" >
    <img src="assets/lingobot/menu-icons/confirm.png"  >
  </div>





</div> <!-- video conteiner -->
