
<header class="header">
  <img src="assets/lingobot/icons/return-icon.png" (click)="navigate_to()" class="back-btn">
  <h1 class="header-title">Desafios do LingoBot</h1>
</header>

<!--

1. Listening (Compreensão Auditiva)
O usuário ouve um áudio gerado pela IA sobre um tema aleatório e deve responder com um resumo ou transcrição do que foi dito. A IA avalia a resposta e retorna um feedback indicando se está correta.

2. Writing (Escrita)
O usuário recebe um tema e deve escrever um texto curto. A IA analisa a gramática, coerência e vocabulário, sugerindo correções e melhorias.
OBS: dependendo da dificuldade, ja tem bonus de pontos garantidos, bonus pequeno, de 1000 para easy, 2000 para facil 3000 para dificil
// quem decide a nota final é o gpt, onde irei pedir pra avaliar, gramática, coerência e vocabulário, sugerindo correções e melhorias
// e com base nisso pedir uma nota final para o texto



3. Reading (Leitura)
O usuário lê um texto e responde perguntas relacionadas ao conteúdo, podendo ser de múltipla escolha ou completar frases. A IA avalia a precisão das respostas.

-->






<div class="container" style="margin-top: 20px">
  <div class="left-side">



    <div *ngIf="isLoading">
      <div class="center">
        <img src="assets/lingobot/lingobot-pensando-sorrindo.png" class="person-icon">
      </div>

      <br>
      <h3 style="text-align: center">LingoBot está pensando...</h3>
    </div>


    <!-- Card de Sucesso -->
    <div *ngIf="isCorrectAnswer" class="card success-card">
      <img src="assets/lingobot/lingobot-fotogenico-transparente.png" alt="Sucesso">
      <h2 class="success-title"><b>Parabéns</b>!</h2>
      <p class="success-text">Você acertou e ganhou <b>{{ calculatedPoints }}</b> LingoEXP!</p>
      <button   mat-flat-button (click)="continue()" class="game-button">Continuar</button>
    </div>

    <!-- Card de Erro -->
    <div *ngIf="isWrongAnswer" class="card error-card">
      <img src="assets/lingobot/lingobot-triste.png" alt="Erro">
      <h2 class="error-title"><b>Que pena!</b></h2>
      <p class="error-text">Você errou! Diminua a dificuldade se precisar, mas não desista, tente novamente.</p>
      <button  mat-flat-button (click)="continue()" class="game-button">Continuar</button>
    </div>





    <div class="speech-bubble-container" *ngIf="!isLoading" >
      <img src="assets/lingobot/lingobot-explicando4.png" class="person-icon">
      <div class="speech-bubble">








        <div  *ngIf="userChoiceStatus==''">
          <p>Aqui irei te propor desafios de <b>Listening, Writing e Reading</b>, cada um desses
            desafios irá fazer você evoluir seu Inglês e você <b>ganha LingoEXP com isso sobe de Nível e Ranking Global.</b>
            <br>Eu sempre vou te <b>avaliar, dizendo
              se sua resposta está correta ou errada e onde errou</b>, agora me diga, qual habilidade quer treinar?
          </p>

          <div class="button-container animation-zoom">
            <button mat-flat-button class="game-button" (click)="userChoice('listening')">Listening</button>
            <button mat-flat-button class="game-button" (click)="userChoice('writing')">Writing</button>
            <button mat-flat-button class="game-button" (click)="userChoice('reading')">Reading</button>
          </div>
        </div> <!-- fase 1 -->






        <!-- Exercício de Writing Config -->

        <div  *ngIf="userChoiceStatus=='writing'">
          <p>Muito bem! ótima escolha, vamos treinar <b>Writing (Escrita)</b>
            Irei te propor um tema aleatório para você criar um pequeno texto sobre, após enviar o seu texto
            vou avaliar <b>Gramática, Coerência e Vocabulário, e sugerir correções e melhorias</b> com base nisso
            teremos sua nota final, que será a quantidade de <b>LingoEXP</b> que você vai receber.
          </p><br>
          <h4>Configuração de Dificuldade, quanto mais difícil mais <b>LingoEXP</b></h4>

          <div class="button-container animation-zoom">

            <button mat-flat-button class="white-button" [class.active]="isActive('easy')"   (click)="selectDifficulty('easy')">Easy</button>
            <button mat-flat-button class="white-button" [class.active]="isActive('medium')"  (click)="selectDifficulty('medium')">Medium</button>
            <button mat-flat-button class="white-button" [class.active]="isActive('hard')" (click)="selectDifficulty('hard')">Hard</button>

          </div>

          <br>
         <b>LingoEXP</b> base por dificuldade do Tema: <b style="color:#2ecc71;">+{{calculatedPoints}} LE</b>

          <div class="button-container animation-zoom">
            <button mat-flat-button class="white-button" (click)="userChoice('')">Voltar</button>
            <button *ngIf="this.selectedDifficulty" mat-flat-button class="game-button" (click)="gerarExercicio('writing')">Gerar Exercício</button>
          </div>

        </div>





        <div  *ngIf="userChoiceStatus=='writing_exercise'">
         Crie um texto em inglês sobre:<br> <p> <b>{{exerciseWriting}}</b></p><br>



          <b>LingoEXP</b> base por dificuldade do Tema: <b style="color:#2ecc71;">+{{calculatedPoints}} LE</b>


          <form [formGroup]="teaxtareaWriting" style="margin:15px;margin-top:30px !important;">

            <mat-form-field style="width: 100% !important;">
              <mat-label>Escreva seu texto em inglês</mat-label>
              <textarea matInput formControlName="userText" rows="4"></textarea>
            </mat-form-field>
          </form>



          <div class="button-container animation-zoom">
            <button mat-flat-button class="white-button" (click)="userChoice('')">Voltar</button>
            <button *ngIf="this.selectedDifficulty" mat-flat-button class="game-button" (click)="verifyWritingExercise()">Responder</button>
          </div>

        </div>



        <div *ngIf="userChoiceStatus=='writing_feedback'" >

          <div class="writing-feedback">
            <h3>Feedback da Escrita</h3>

            <div class="feedback-item">
              <span class="label">Gramática:</span>
              <span class="value">{{ writingGrammarScore }}</span>
            </div>

            <div class="feedback-item">
              <span class="label">Coerência:</span>
              <span class="value">{{ writingCoherenceScore }}</span>
            </div>

            <div class="feedback-item">
              <span class="label">Vocabulário:</span>
              <span class="value">{{ writingVocabularyScore }}</span>
            </div>

            <div class="feedback-item">
              <span class="label">Nota Final:</span>
              <span class="value">{{ writingFinalScore }}</span>
            </div>

            <div class="feedback-item">
              <span class="label">Erros:</span>
              <span class="errors">{{ writingErrors }}</span>
            </div>

            <div class="feedback-item">
              <span class="label">Melhorias:</span>
              <span class="improvements">{{ writingImprovements }}</span>
            </div>
          </div>


        </div>






        <!-- exercicio de listening config -->
        <div  *ngIf="userChoiceStatus=='listening'">

          <!-- tip Da pro usuairo escolher o tema do audio -->
           <p>Muito bem! ótima escolha, vamos treinar <b>Listening (Compreensão Auditiva)</b>
             Irei te mostrar um audio com um tema aleatório e você deve me dizer qual o assunto do audio,
             Você deve responder na caixa de texto, após isso irei avaliar a resposta!
           </p>
          <h4>Configuração de Dificuldade, quanto mais difícil mais <b>LingoEXP</b></h4>
          <p>Qual a dificuldade do texto?</p>
          <div class="button-container animation-zoom">

            <button mat-flat-button class="white-button" [class.active]="isActive('easy')"   (click)="selectDifficulty('easy')">Easy</button>
            <button mat-flat-button class="white-button" [class.active]="isActive('medium')"  (click)="selectDifficulty('medium')">Medium</button>
            <button mat-flat-button class="white-button" [class.active]="isActive('hard')" (click)="selectDifficulty('hard')">Hard</button>

          </div>
          <br>
          <p>Mostrar o texto do exercício? (Não Mostrar o texto retorna mais <b>LingoEXP</b>)</p>
          <div class="button-container animation-zoom">
            <button
              mat-flat-button
              class="white-button"
              [class.active]="isActive2(false)"
              (click)="selectTextOnOrNot(false)">Sim</button>

            <button
              mat-flat-button
              class="white-button"
              [class.active]="isActive2(true)"
              (click)="selectTextOnOrNot(true)">Não</button>
          </div>

          <br>
          Total de <b>LingoEXP</b> por acerto: <b style="color:#2ecc71;">+{{calculatedPoints}} LE</b>

          <div class="button-container animation-zoom">
            <button mat-flat-button class="white-button" (click)="userChoice('')">Voltar</button>
            <button *ngIf="this.selectedDifficulty" mat-flat-button class="game-button" (click)="gerarExercicio('listening')">Gerar Exercício</button>
          </div>


        </div><!-- exercicio de listening config -->


        <div  *ngIf="userChoiceStatus=='listening_exercise'" style="width: 100% !important;">
          <div style="display: flex; flex-direction: column; align-items: flex-start;">
            <p style="font-size: 10pt !important;">Dificuldade do texto:
              <b *ngIf="selectedDifficulty=='easy'" style="color: #2ecc71">Easy</b>
              <b *ngIf="selectedDifficulty=='medium'" style="color: orange">Medium</b>
              <b *ngIf="selectedDifficulty=='hard'" style="color: red">Hard</b>
            </p>

            <br>

          </div>

          <div *ngIf="audioUrl" style="text-align: center;">
            <img
              [src]="isPlaying ? 'assets/lingobot/imgs/audio.png' : 'assets/lingobot/imgs/audio-nao-tocando.png'"
              alt="Tocar áudio"
              (click)="playAudio()"
              [class.pulse]="isPlaying"
              style="cursor: pointer; width: 50px;"
            >
            <p style="font-size: 10px; color: gray; margin-top: 5px;">Toque para ouvir novamente.</p>
          </div>




          <p *ngIf="!this.selectedChoice">{{this.exerciseText}}</p>
          <p *ngIf="this.selectedChoice" style="color: transparent;  user-select: none;" >{{this.exerciseText}}</p>




          <form [formGroup]="formulario"   style="margin:15px;margin-top:30px !important;">
            <p style="font-size: 11pt">Obs: você pode responder em português...</p>
            <mat-form-field   style="width: 100% !important;">
              <mat-label>Qual o tema central do audio?</mat-label>
              <input matInput formControlName="mainTheme" >
            </mat-form-field>
            <br>


          </form>

          <div class="button-container animation-zoom">
            <button mat-flat-button class="white-button" (click)="userChoice('listening')">Voltar</button>
            <button *ngIf="this.selectedDifficulty" mat-flat-button class="game-button" (click)="verifyListeningExercise()">Responder</button>
          </div>

          <br>
          <p style="font-size: 10pt !important;"><b style="color:#2ecc71;"> +{{calculatedPoints}} LE</b> por acerto.</p>

        </div> <!-- exercicio de listening -->


      </div>
    </div>
  </div> <!-- left side -->


<!--
    <div *ngIf="isLoading" class="loading-container">
      <img src="assets/lingobot/lingobot-com-martelo.png"  class="lingobot-loading">
      <h2>LingoBot está trabalhando nisso...</h2>
    </div>
*ngIf="userChoiceStatus==''"
-->






<!--





        <div *ngIf="userChoiceStatus=='youtube'">
          <p>Ok! <b>Ótima escolha (nome)</b>, agora me informe qual o link do <b>YouTube</b> para eu poder carregar o vídeo para você e vamos estudar com algum conteúdo legal!
          </p>

          <form [formGroup]="formulario" style="margin:15px;margin-top:30px !important;">
            <mat-form-field style="width: 100%">
              <mat-label>Link do YouTube</mat-label>
              <input matInput formControlName="url_youtube" placeholder="Cole o link do YouTube aqui">
            </mat-form-field>
          </form>


          <div class="button-container animation-zoom">
            <button mat-flat-button class="white-button" (click)="userChoice('')" >Voltar</button>
            <button mat-flat-button class="game-button" (click)="loadVideo()">Carregar Vídeo</button>
          </div>


        </div>





        <div class="button-container animation-zoom ifMobile_marginTop" *ngIf="userChoiceStatus==''">
          <button mat-flat-button class="white-button" (click)="userChoice('video_aleatorio')" >Vídeo Aleatório</button>
          <button mat-flat-button class="game-button" (click)="userChoice('youtube')"  >Vídeo do Youtube</button>
        </div>



      </div>
    </div>





  </div>
  -->


  <div class="right-side">
    <app-lingobot-card></app-lingobot-card>
  </div>


</div>





