<div class="container" id="escolher-assunto" *ngIf="userChoice == ''">
  <h2>Aprenda e Pratique <br> <span style="font-size: 10pt !important;">Writing conversation</span></h2>

  <!-- Passo a passo -->
  <ul class="steps">
    <li><strong>1.</strong> Escolha um tema e receba dicas e explicações do LingoBot. 🤖💡</li>
    <li><strong>2.</strong> Pratique sua conversação com base no que aprendeu. ✍️💬</li>
  </ul>

  <!-- Sugestões de temas -->
  <h4 style="margin-top: 20px">Escolha o Assunto do que vai aprender e praticar</h4>

  <div class="suggestions-container">
    <div class="suggestions">
      <ul style="list-style-type: none; width: 100%; padding: 0; margin: 0;">
        <li *ngFor="let tema of temas" style="width: 100%; padding: 0; margin: 0;">
          <button class="suggestion" (click)="selecionarTema(tema.id)">
            {{ tema.theme }}
          </button>
        </li>
      </ul>
    </div>
  </div>



</div>














<!-- Exibição do tema escolhido -->
<div *ngIf="temaAtual && userChoice == 'lingobot-teaching'" class="tema-container">

  <!-- Botão Voltar -->
  <button mat-flat-button class="voltar-btn" (click)="voltarTema()">Voltar</button>

  <!-- Título do Tema -->
  <h2 class="tema-titulo">{{ temaAtual.theme }}</h2>

  <!-- Loader -->
  <div *ngIf="isLoading" class="loader">Carregando...</div>

  <!-- Conteúdo do Tema -->
  <div *ngIf="!isLoading" class="content">
    <!-- Frases Úteis -->
    <div class="section">
      <h4 class="section-title">Frases Úteis</h4>
      <ul class="list">
        <li *ngFor="let phrase of temaAtual.useful_phrases" class="list-item">
          {{ phrase }}
        </li>
      </ul>
    </div>

    <!-- Exercício de Conversação -->
    <div class="section">
      <h4 class="section-title">Exercício de Conversação</h4>
      <div *ngFor="let exercise of temaAtual.conversation_exercise" class="exercise">
        <span style="font-weight: bolder;font-size: 11pt !important; padding: 10px !important;color: green !important;">Pergunta:</span> <br>
        <p class="pergunta">{{ exercise.asking }}</p>
        <span style="font-weight: bolder; font-size: 11pt !important; padding: 10px !important;color:  green  !important;">Resposta Esperada:</span> <br>
        <p class="resposta"> {{ exercise.expected_answer }}</p>
      </div>
    </div>
  </div>


  <button mat-flat-button class="game-button" (click)="praticar()">
    Praticar
  </button>

</div>











<div class="conversation-container" *ngIf="userChoice === 'lingobot-pratica'">
  <div class="speech-bubble">
    <!-- Exibe a pergunta atual -->
    <p *ngIf="!isLoading && perguntaAtual">{{ perguntaAtual }}</p>

    <!-- Loading -->
    <div class="loading-dots" *ngIf="isLoading">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <!-- Exibe a dica (expected_answer) -->
    <div *ngIf="dicasAtuais">
      <p style="color: #66BB6A;font-weight: bold;font-size: 10pt !important;">You can say: "{{ dicasAtuais }}"</p>
    </div>

    <div *ngIf="feedbackUsuario?.length">
      <h3>Avaliação do seu inglês:</h3>
      <ul>
        <li *ngFor="let item of feedbackUsuario">
          <p><strong>Erro:</strong> {{ item.erro }}</p>
          <p><strong>Correção:</strong> {{ item.correcao }}</p>
          <p><strong>Dicas:</strong></p>
          <ul>
            <li *ngFor="let dica of item.dicas">{{ dica }}</li>
          </ul>
        </li>
      </ul>
    </div>


  </div> <!-- end bubble -->

  <img src="assets/lingobot/lingobot-conversando-transparent.png" class="character-image">





  <div *ngIf="!hideForm">

    <form [formGroup]="formulario">
      <p style="position: relative;margin-top: 10px;color: #b5b5b5;font-size: 11pt">  Você pode responder da maneira que desejar  </p>
      <textarea
        formControlName="respostaUsuario"
        class="answer-input"
        placeholder="Escreva sua resposta aqui"
        rows="4" cols="50">
      </textarea>
    </form>

    <div class="button-container" *ngIf="  this.formulario.controls['respostaUsuario'].value !=='' && this.formulario.controls['respostaUsuario'].value !==null ">
      <button mat-flat-button class="game-button" (click)="enviarResposta()">
        Enviar
      </button>
    </div>
  </div>
</div>





<div *ngIf="this.userChoice == 'congrats'" class="congrats-container">

  <div class="selected-trail-card"  >
    <p class="trail-title">Exercícios Feitos</p>
    <h3>{{ (trilhaService.trilha$ | async)?.rounds_step3 }}/{{ rounds_needed }}</h3>

  </div>

  <img src="assets/lingobot/lingobot-sorrindo-joia.png" alt="Lingobot sorrindo">
  <p>Parabéns! Está indo muito bem + 3000 LXP</p>
  <button mat-flat-button class="game-button" (click)="continuar()">
    Continuar
  </button>
</div>






<style>


  /* Responsividade para mobile */
  @media (max-width: 768px) {
    .conversation-container{
      margin-top: 120px;
    }
  }
</style>
