<div class="audio-container" style="margin-top: 200px">
  <p>{{ recordingStatus }}</p>
  <h5>Update 20:03 - touchstart touch end</h5>
  <!-- Botão de gravar -->
  <button
    class="record-btn"
    (mousedown)="startRecording()"
    (mouseup)="stopRecording()"
    (mouseleave)="stopRecording()"
    (touchstart)="startRecording()"
    (touchend)="stopRecording()">
    🎤 Segure para gravar
  </button>

  <!-- Mostrar player de áudio se tiver um áudio gravado -->
  <audio *ngIf="audioUrl" [src]="audioUrl" controls></audio>

  <!-- Botão de enviar áudio -->
  <button *ngIf="audioUrl" (click)="sendAudio()" class="send-btn">
    📤 Enviar áudio
  </button>
</div>
