
.command-button-2{
  font-size:25pt !important;
  font-weight:bolder;
  text-align: center;
  color:#946a01;
  margin-top:13vh !important;
}





.commands-group {
  display: flex;
  align-items: center;
  justify-content: space-between;


  border-radius: 12px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;

  backdrop-filter: blur(16px); /* Efeito de vidro mais leve */
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* Sombra bem sutil */
}



.background-commands {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 4;
}


/* Imagem de fundo */
.background-image {
  position: absolute;
  top: 0px; /* Mesma posição do vídeo */
  left: 0;
  width: 100%; /* Mesma largura do vídeo */
  height: auto; /* Altura proporcional */
  object-fit: cover; /* Cobrir a área como o vídeo */
  z-index: 5; /* Mesmo z-index do vídeo */

}


.background-commands{
  position: absolute !important;
  bottom: 0 !important;
  display:inline-block;
  background-image: url('/assets/lingobot/home/testar_pergaminho.jpg');
  height: 30vh !important;
  background-size: cover;
  background-position: top;
  z-index: 5 !important;

}
















.item-modal {
  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2rem;
  width: 80%;
  max-width: 500px;
  z-index: 1000;
}

.item-image {
  width: 50%;
  height: auto;
  margin: 1rem auto;
  display: block;
  border-radius: 8px;
}

.subtitle {
  font-size: 1rem;
  margin: 0.5rem 0 0;
  color: white;
  background:rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
}

.item-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.rarity-text {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  background:rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
}

.common {
  color: dimgray !important;
  text-shadow: 0 0 3px white, 0 0 5px white;
}

.uncommon {
  color: #3cb371 !important;
  text-shadow: 0 0 3px black, 0 0 5px black;
}

.rare {
  color: #1e90ff !important;
  text-shadow: 0 0 3px black, 0 0 6px black;
}

.epic {
  color: #8E24AA !important;
  font-weight: bold !important;
  text-shadow: 0 0 4px white, 0 0 8px mediumpurple !important;
}

.legendary {
  color: darkgoldenrod !important;
  font-weight: bold !important;
  text-shadow: 0 0 4px black, 0 0 8px orange !important;
}
