

<!-- Imagem estática -->
<img   src="assets/lingobot/cenas_on_city/default-cena.png" class="background-image">



<!-- Vídeo 1 -->
<video *ngIf="cena == 1" autoplay muted loop class="background-video">
  <source src="assets/lingobot/cenas_on_city/city-waiting-animation.mp4" type="video/mp4">
</video>


<!-- Vídeo 2 -->
<video *ngIf="cena == 2" autoplay muted loop class="background-video">
  <source src="assets/lingobot/cenas_on_city/animation-going-to-tower.mp4" type="video/mp4">
</video>



<div class="nuvem-esquerda" [@nuvemEsquerdaAnimation]="nuvemState">
  <img src="assets/lingobot/home/clouds.png" alt="Nuvem Esquerda">
</div>

<div class="nuvem-direita" [@nuvemDireitaAnimation]="nuvemState">
  <img src="assets/lingobot/home/clouds.png" alt="Nuvem Direita">
</div>






<div class="background-commands">


  <h3 class="actions-title" *ngIf="!blockAction">Comandos</h3>
  <h3 class="actions-title" *ngIf="blockAction">Ação em andamento...</h3>


  <div class="commands-group">

    <div class="command" (click)="command('up')">
     <img [class.neon-border]="isNeonActive('up')"
          (mousedown)="ativarNeon('up')"
          (touchstart)="ativarNeon('up')" (touchend)="desativarNeon('up')"
          src="assets/lingobot/menu-icons/icone-home.png"
          style="width: 40% !important;height: auto">
     <p class="command-text">Torre de Babel</p>
   </div>

    <!--
   <div class="command" (click)="command('in')">
     <img [class.neon-border]="isNeonActive('in')"
          (mousedown)="ativarNeon('in')"
          (touchstart)="ativarNeon('in')" (touchend)="desativarNeon('in')"
          src="assets/lingobot/menu-icons/elders_castle_icon.png"
          style="width: 40% !important;height: auto">
     <p class="command-text">Elders' Castle <br>(Coming Soon)</p>
   </div>
   -->

    <div class="command" >
      <img
           src="assets/lingobot/menu-icons/elders_castle_icon.png"
           style="width: 40% !important;height: auto">
      <p class="command-text">Elders' Castle <br>(Coming Soon)</p>
    </div>



 </div>



</div> <!-- background commands -->



<style>
  .background-commands{
    position: absolute !important;
    bottom: 0 !important;
    display:inline-block;
    background-image: url('assets/lingobot/home/testar_pergaminho.jpg');
    height: 30vh !important;
    background-size: cover;
    background-position: top;
    z-index: 5 !important;

  }
</style>
