.full-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); /* Overlay escuro opcional */
  z-index: 5;
}

.full-image-container .levelUpImage {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Preenche tudo mesmo que estique/corte */
  object-position: center;
}

