<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>



<div style="text-align: center;" >


  <div *ngIf="isLoading" class="spinner-container">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
  <div *ngIf="!isLoading">
    <img *ngIf="picture" [src]="picture" alt="Imagem carregada do localStorage" class="profilePicture">
    <!--<div *ngIf="!picture">Imagem não encontrada</div> -->




  <h3 style="font-size: 20px;padding:10px; font-weight: bold;">{{nome}}</h3>

    <hr style="width: 70%; margin-top: 10px; border-color: black;">

    <div class="center">
      <div class="user-label-vip-piooner"  matTooltip="Essa label é para usuários pioneiros nessa plataforma, Te concede VIP para sempre."
           >
        <h3 style="font-weight: bolder;color:white;padding-top: 5px; ">Piooner VIP</h3>
      </div>
    </div>

    <!--

    <div class="center" *ngIf="vip=='false'">
      <div class="user-label-no-vip"  matTooltip="O Vip te permite usar nossa IA sem limites ou depender de créditos."
         >
        <h3 style="font-weight: bolder;color:white;padding-top: 5px; ">VIP's Off</h3>
      </div>
    </div>
    <div class="center" *ngIf="vip=='false'">
      <div class="user-label-vip"  matTooltip="O Vip te permite usar nossa IA sem limites ou depender de créditos."
      >
        <h3 style="font-weight: bolder;color:white;padding-top: 5px; ">VIP's On</h3>
      </div>
    </div>


  <h4 style="font-size: 18px;">R${{ credits }}</h4>

    -->






</div>

  <hr style="width: 70%; margin-top: 10px; border-color: black;">
</div>

<h4 style="text-align: center; padding:10px; margin:1px;color:#ccc;font-size:8pt;">Menu</h4>
 <div class="painelButtons" >

   <button  mat-fab extended class="btn-tool"
           [routerLink]="['/videos']"
           routerLinkActive="active"
           (click)="selectOption('videos')"
           [ngClass]="{ 'selected': selectedOption === 'videos' }">
     <i class="fi fi-sr-add"></i>
     <span>Create SmartCards</span>
   </button>

   <button mat-fab extended  class="btn-tool"
           color="primary"
           [routerLink]="['/teacher']"
           routerLinkActive="active"
           (click)="selectOption('teacher')"
           [ngClass]="{ 'selected': selectedOption === 'teacher' }"
   >
     <i class="fi fi-sr-comment-alt"></i>
     <span>Teacher</span>
   </button>



   <button   mat-fab extended class="btn-tool"
           [routerLink]="['/home']"
           routerLinkActive="active"
           (click)="selectOption('home')"
           [ngClass]="{ 'selected': selectedOption === 'home' }">
     <i class="fi fi-sr-document-signed"></i>
   <span>My SmartCards</span>
   </button>


<!--
   Por enquanto irei desabilitar essa função

   <button  mat-fab extended class="btn-tool"
           [routerLink]="['/practice']"
           routerLinkActive="active"
           (click)="selectOption('practice')"
           [ngClass]="{ 'selected': selectedOption === 'practice' }"
   >
     <i class="fi fi-sr-graduation-cap"></i>
     <span>Practice</span>
   </button>
-->


<!--

   <button mat-fab extended
           color="primary"
           [routerLink]="['/frequency']"
           routerLinkActive="active"
           (click)="selectOption('frequency')"
           [ngClass]="{ 'selected': selectedOption === 'frequency' }"
   >
     <i class="fi fi-sr-dollar"></i>
     <span>Credits/Vip</span>
   </button>
-->

   <div class="center logout" >
     <mat-icon style="vertical-align: middle;">logout</mat-icon>
     <span style="vertical-align: middle;">Log Out</span>
   </div>

</div>







