
/* Container que segura o vídeo e o loading */
.video-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Estilo do vídeo de fundo */
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  margin: 0;
  padding: 0;
}

/* Ícone de loading centralizado e girando */
.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  animation: spin 1s linear infinite;
}

.loading-spinner img {
  width: 96px;
  height: 96px;
}


/* Animação de rotação */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
