<div class="video-container">
  <!-- Loading por cima -->
  <div class="loading-spinner" *ngIf="loading">
    <img src="assets/lingobot/menu-icons/lingobot-energy-on.webp" alt="Loading" />
  </div>

<video
  #videoRef
  autoplay
  playsinline
  preload="auto"
  poster="assets/lingobot/workers-animation/poster.webp"
  class="background-video"
>
  <source src="https://firebasestorage.googleapis.com/v0/b/geekco-image-storage.appspot.com/o/up_tower-compress.mp4?alt=media&token=9b5e89d8-5e2a-43e4-9dee-f3e12afa11b5" type="video/mp4" />
</video>

</div>
