

<div
  class="holograma-card"
  *ngIf="modal || isClosing"   [class.open]="modal && !isClosing"
  [class.close]="isClosing"
>


  <div class="content">

  <div class="top-items">
    <div class="item-container">
      <img src="assets/lingobot/lingobot-icon.png" alt="Token" class="token-icon" style="  border-radius: 50%;">
      <span class="token-text">{{ userName }}</span>
    </div>
    <div class="item-container">
      <img src="assets/lingobot/menu-icons/icone-home.png" alt="Token" class="token-icon" style="width: 30px !important;">
      <span class="token-text">{{  this.ranking }}°</span>
    </div>
  </div>

  <!-- Seção centralizada: Avatar e nome do usuário -->
  <div class="user-info-centered" style="margin-top: 40px !important;">
    <h4 style="font-size: 15pt !important;font-weight:bold;color:goldenrod;margin: 0px !important;">  Lv.{{ userLevel  }}</h4>
  </div>

  <!-- Barra de progresso -->
  <div class="level-info">
    <div class="level-bar">
      <div class="progress" [style.width.%]="expPercentage">
        <span class="progress-text">{{ expPercentage | number:'1.0-0' }}%</span>
      </div>
    </div>
    <p style="display: flex; align-items: center; gap: 5px; justify-content: center;">
      <img src="assets/lingobot/icons/lxp.png" width="10%" height="10%">
      {{ userLingoEXP }} / {{ expNeeded }}
    </p>
  </div>
<app-skills></app-skills>
  <br>
  <div class="difficulty-container" *ngIf="selectedDifficulty">
    <h4 style="font-size: 15pt !important; font-weight: bold; color: goldenrod; margin: 0px !important; text-align: center">
      Dificuldade
    </h4>
    <div class="image-text-container">
      <img [src]="selectedDifficulty.img" alt="Lingobot" class="difficulty-image">
      <div class="text-container">
        <p>Você está jogando na dificuldade:</p>
        <h4>{{ selectedDifficulty.title }}</h4>
        <!-- Descomenta abaixo se quiser mostrar a descrição -->
        <!-- <p>{{ selectedDifficulty.description }}</p> -->
      </div>
    </div>
  </div>




  <div class="center-element x-position"  (click)="openUserStats()">
     <img src="assets/lingobot/menu-icons/x.png" class="x">
  </div>



  </div>
</div>


<img
     *ngIf="this.modal"
     src="assets/lingobot/menu-icons/holograma.png"
     class="projetor entrar-da-esquerda"
     [ngClass]="{'sair-para-esquerda': animandoSaida}"
     (animationend)="onAnimationEnd($event)"
>
