
/* Vídeo de fundo */
.background-video {
  position: fixed; /* Fixa na tela */
  top: 0;
  left: 0;
  width: 100vw; /* Garante que ocupe 100% da largura da viewport */
  height: 100vh; /* Garante que ocupe 100% da altura da viewport */
  object-fit: cover; /* Mantém a proporção e cobre toda a tela */
  z-index: 5; /* Fica atrás de todos os elementos */
  pointer-events: none; /* Não bloqueia cliques */
}


/* Imagem de fundo */
.background-image {
  position: absolute;
  top: 0px; /* Mesma posição do vídeo */
  left: 0;
  width: 100%; /* Mesma largura do vídeo */
  height: auto; /* Altura proporcional */
  object-fit: cover; /* Cobrir a área como o vídeo */
  z-index: 5; /* Mesmo z-index do vídeo */
}


.background-commands {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: 4;
}




.actions-title {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #1e1e1e;
}

.commands-group {
  display: flex;
  justify-content: center;
  gap: 1px; /* Espaçamento entre os comandos */
  align-items: center;
}

.command {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.command-text {
  margin-top: 8px;
  font-size: 1.0em;
  font-weight: bold;
  color: #222; /* Cor um pouco mais escura para melhor contraste */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Pequeno sombreamento para destaque */
}




.commands-group img {
  transition: box-shadow 0.3s ease-in-out;
}

.neon-border {
  filter: drop-shadow(0 0 10px #00aaff) drop-shadow(0 0 20px #00aaff) drop-shadow(0 0 30px #00aaff);
}






























.battery-bars {
  position: absolute;
  top: 10vh;
  left: 5%;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 2vh;
  z-index: 10;
}

.battery-icon {
  height: 60px;
  width: auto;
  border-radius: 50%;
}

.battery-bar-container {
  display: flex;
  gap: 0.5vh;
  flex: 1;
  align-items: center;
  justify-content: start;
}

.battery-bar-img {
  height: 36px;
  width: auto;
  transition: transform 0.2s ease;
}

.battery-bar-img:hover {
  transform: scale(1.1);
}


.battery-consuming {
  display: flex;
  align-items: center; /* Alinha verticalmente */
  gap: 8px; /* Espaçamento opcional entre o texto e o ícone */
}

.battery-text {
  color: red;
  margin: 0; /* Remove margens padrão */
  font-size: 1.6em;
  font-weight: bold;
}

.battery-icon {
  width: 16%;
  height: auto;
}



