 <div class="container">

   <app-life-bar></app-life-bar>



   <!-- Cenario - blackboard -->
   <div  class="background-wall"  ></div>
   <div  class="background-image"  ></div>





   <app-mug-translate   bottom="5vh" left="5vh"  *ngIf="dialog==4"   ></app-mug-translate>



  <div class="baloon-container" *ngIf="cena == 2 && dialog!==4">
    <div class="dialog-baloon">
      <p *ngIf="dialog == 1">Olá, Eu sou o Ancião da Escrita. O que te traz aqui?</p>
      <p *ngIf="dialog == 2">Muito bem, vou te ajudar a aumentar seu vocabulário na língua inglesa.</p>
      <p *ngIf="dialog == 3">Irei te propor 10 desafios de inglês, e no fim eu te dou <b style="color: goldenrod"> {{ this.finalGoldReward }} Gold Coins</b> & <b style="color: blueviolet">{{ this.finalXpReward }} LXP</b></p>
    </div>

  </div>
   <img *ngIf="dialog == 1" class="character-img" src="assets/lingobot/elders/writing/parado.webp">
   <img *ngIf="dialog == 2" class="character-img" src="assets/lingobot/elders/writing/acertou.webp">
   <img *ngIf="dialog == 3" class="character-img" src="assets/lingobot/elders/writing/parado.webp">



<div class="baloon-container" *ngIf="rightOrWrongAnswer">
  <div class="dialog-baloon">
    <p *ngIf="dialog == 5">Parabéns!! você acertou, agora vamos para próxima..</p>
    <p *ngIf="dialog == 6">Na verdade a resposta é <b style="color: goldenrod">{{this.respostaCorreta}}</b>, Vamos tentar novamente.</p>
    <p *ngIf="dialog == 7">Muito bem, você venceu meu desafio, aqui está seu prêmio, <b style="color: goldenrod"> {{ this.finalGoldReward }} Gold Coins</b> & <b style="color: blueviolet">{{ this.finalXpReward }} LXP</b></p>
  </div>

</div>


    <img
      [class.animate]="isAnimating"
      *ngIf="quizSession"
      [src]="caminhoImagem"
      alt="Imagem animada"
      class="animated-image"
    >





<!--  *ngIf="quizSession"

<div class="battery-bars" *ngIf="quizSession">
  <img src="assets/lingobot/cenas_na_masmorra/speaking/lingobot.webp" class="battery-icon">

  <div class="battery-bar-container">
    <img *ngFor="let bar of hpArray; let i = index"
         [src]="i < currentHp
           ? 'assets/lingobot/menu-icons/battery-on.webp'
           : 'assets/lingobot/menu-icons/battery-off.webp'"
         class="battery-bar-img">
  </div>
</div>
   -->




  <div class="progress-container"  *ngIf="quizSession">
    <div class="progress-bar" [style.width.%]="progress">
    </div>
  </div>


   <!-- HTML Template -->
   <div class="exercise"  *ngIf="dialog !== 3 && dialog !== 2 && dialog !== 1">
     <h3 class="question-title">{{ this.questionTitle }}</h3>
     <div class="enunciado-container">
       <h3 class="enunciado">{{ enunciado }}</h3>
     </div>
     <ul class="options-list">
       <li
         *ngFor="let alt of alternativas; let i = index"
         class="option-item"
         [class.selected]="selectedOption === i"
         (click)="selectOption(i)"
       >
         <span class="option-letter">{{ letra(i) }})</span>
         <span class="option-text">{{ alt }}</span>
       </li>
     </ul>
   </div>


  <!--
  Eu quero aumentar meu vocabulário em Inglês
  -->



   <div class="response-button-container">
     <div class="alternativas" *ngIf="!rightOrWrongAnswer">
       <img
         src="assets/lingobot/menu-icons/confirm.webp"
         alt="Confirm"
         class="action-button"
         (click)="corrigir()"
         *ngIf="optionIsSelected && dialog == 4">

     </div> <!-- alternativas -->

     <div class="next-question" *ngIf="rightOrWrongAnswer">
       <!-- se acertou botao next question, se errou, tentar novamente -->

       <img
         src="assets/lingobot/menu-icons/next_question.webp"
         alt="Next Question"
         class="action-button"
         (click)="newExercise()"
         *ngIf="this.dialog == 5">

       <img
         src="assets/lingobot/menu-icons/try_again.webp"
         alt="Try Again"
         class="action-button"
         (click)="newExercise()"
         *ngIf="this.dialog == 6">

       <img
         src="assets/lingobot/menu-icons/finish.webp"
         alt="Finalizar"
         class="action-button"
         (click)="goHome()"
         *ngIf="this.dialog == 7">
     </div>
   </div>
















  <div  *ngIf="cena == 2" class="background-commands">

    <!-- Dialog 1 -->
    <div class="dialog-container" *ngIf="dialog == 1">
      <ul class="dialog-options">
        <li class="dialog-option" (click)="chooseOption(1);">
          <span class="option-number">1.</span>
          <span class="option-text">Eu quero aumentar meu vocabulário em Inglês</span>
        </li>
        <li class="dialog-option" (click)="chooseOption(2);">
          <span class="option-number">2.</span>
          <span class="option-text">Foi um engano, estou indo embora.</span>
        </li>
      </ul>
    </div>

    <!-- Dialog 2 -->
    <div class="dialog-container" *ngIf="dialog == 2">
      <ul class="dialog-options">
        <li class="dialog-option" (click)="chooseOption(3);">
          <span class="option-number">1.</span>
          <span class="option-text">Ok vamos lá, o que tenho que fazer?</span>
        </li>
        <li class="dialog-option" (click)="chooseOption(0);">
          <span class="option-number">2.</span>
          <span class="option-text">Voltar</span>
        </li>
      </ul>
    </div>

    <!-- Dialog 3 -->
    <div class="dialog-container" *ngIf="dialog == 3">
      <ul class="dialog-options">
        <li class="dialog-option" (click)="chooseOption(4);">
          <span class="option-number">1.</span>
          <span class="option-text">I'm Ready!!</span>
        </li>
        <li class="dialog-option" (click)="chooseOption(1);">
          <span class="option-number">2.</span>
          <span class="option-text">Voltar</span>
        </li>
      </ul>
    </div>
  </div> <!-- background commands -->





 </div>




