<div class="banner-trilha">
  <div class="banner-content">
    <h2>Trilha {{this.trilhaAtual}}</h2>
    <p>Essa trilha vai conter desafios de Listening, Writing, Reading e Speaking.
      Após finalizar todas as etapas, pegue sua recompensa!
    </p>

    <div class="reward-info">
      <img src="assets/lingobot/icons/lxp.png" width="28" height="16" alt="LXP">
      <span class="gold-text">{{ final_lxp_bounty }}</span>
    </div>

    <button [disabled]="!todasEtapasConcluidas()" class="claim-reward-btn">
      Pegar Recompensa
    </button>
  </div>
</div>






<!--

   EXERCICIO DE LISTENING 1

-->
<div class="exercise-container"
     style="
background-image: url('assets/lingobot/lingobot-estudando-listening-banner.png');
 background-size: cover;
 background-position: left !important;
 border-radius: 20px;
 margin-top: 20px;
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
">
  <div class="exercise-details">
    <!-- Estrela no canto superior esquerdo -->
    <div class="star-container">
      <mat-icon [ngClass]="{ 'status-icon': true, 'completed': step1, 'incomplete': !step1 }">
        star
      </mat-icon>
    </div>

    <h3>Exercício 1</h3>
    <p>{{ this.exerciseDescrption1 }}</p>

    <!-- Botão "Iniciar Exercício" -->
    <button mat-flat-button class="game-button" (click)=" navigate_to_exercise(1)" *ngIf="step1==false">Iniciar Exercício</button>

    <!-- Mensagem de "Etapa Finalizada!" com Ícone -->
    <div class="success-card" *ngIf="step1==true">
      <mat-icon class="check-icon">check_circle</mat-icon>
      <span>Etapa Finalizada!</span>
    </div>
  </div>
</div>








<!--

   EXERCICIO DE LISTENING + Conversation

-->


<div class="exercise-container"
     style="
background-image: url('assets/lingobot/lingobot-estudando-assistindo.png');
 background-size: cover;
 background-position: left !important;
 border-radius: 20px;
 margin-top: 20px;
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
">
  <div class="exercise-details">
    <!-- Estrela no canto superior esquerdo -->
    <div class="star-container">
      <mat-icon [ngClass]="{ 'status-icon': true, 'completed': step2, 'incomplete': !step2 }">
        star
      </mat-icon>
    </div>

    <h3>Exercício 2</h3>
    <p>{{ this.exerciseDescrption2 }}</p>

    <!-- Botão "Iniciar Exercício" -->
    <button  (click)=" navigate_to_exercise(2)" mat-flat-button class="game-button" *ngIf="step2==false">Iniciar Exercício</button>

    <!-- Mensagem de "Etapa Finalizada!" com Ícone -->
    <div class="success-card" *ngIf="step2==true">
      <mat-icon class="check-icon">check_circle</mat-icon>
      <span>Etapa Finalizada!</span>
    </div>
  </div>
</div>







<!--

   EXERCICIO DE READING 3

-->


<div class="exercise-container"
     style="
background-image: url('assets/lingobot/lingobot-estudando-reading-banner.png');
 background-size: cover;
 background-position: left !important;
 border-radius: 20px;
 margin-top: 20px;
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
">
  <div class="exercise-details">
    <!-- Estrela no canto superior esquerdo -->
    <div class="star-container">
      <mat-icon [ngClass]="{ 'status-icon': true, 'completed': step3, 'incomplete': !step3 }">
        star
      </mat-icon>
    </div>

    <h3>Exercício 3</h3>
    <p>{{ this.exerciseDescrption3 }}</p>


    <!-- Botão "Iniciar Exercício" -->
    <button  (click)=" navigate_to_exercise(3)" mat-flat-button class="game-button" *ngIf="step3==false">Iniciar Exercício</button>

    <!-- Mensagem de "Etapa Finalizada!" com Ícone -->
    <div class="success-card" *ngIf="step3==true">
      <mat-icon class="check-icon">check_circle</mat-icon>
      <span>Etapa Finalizada!</span>
    </div>
  </div>
</div>







<!--

   EXERCICIO DE WRTING  4

-->



<div class="exercise-container"
     style="
background-image: url('assets/lingobot/lingobot-entregando-uma-prova.png');
 background-size: cover;
 background-position: left !important;
 border-radius: 20px;
 margin-top: 20px;
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
">
  <div class="exercise-details">
    <!-- Estrela no canto superior esquerdo -->
    <div class="star-container">
      <mat-icon [ngClass]="{ 'status-icon': true, 'completed': step4, 'incomplete': !step4 }">
        star
      </mat-icon>
    </div>

    <h3>Exercício 4</h3>
    <p>{{ this.exerciseDescrption4 }}</p>


    <!-- Botão "Iniciar Exercício" -->
    <button  (click)=" navigate_to_exercise(4)" mat-flat-button class="game-button" *ngIf="step4==false">Iniciar Exercício</button>

    <!-- Mensagem de "Etapa Finalizada!" com Ícone -->
    <div class="success-card" *ngIf="step4==true">
      <mat-icon class="check-icon">check_circle</mat-icon>
      <span>Etapa Finalizada!</span>
    </div>
  </div>
</div>






<!--

   EXERCICIO DE WRTING  5

-->



<div class="exercise-container"
     style="
background-image: url('assets/lingobot/lingobot-estudando-writing-banner5.png');
 background-size: cover;
 background-position: left !important;
 border-radius: 20px;
 margin-top: 20px;
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
">
  <div class="exercise-details">
    <!-- Estrela no canto superior esquerdo -->
    <div class="star-container">
      <mat-icon [ngClass]="{ 'status-icon': true, 'completed': step5, 'incomplete': !step5 }">
        star
      </mat-icon>
    </div>

    <h3>Exercício 5</h3>
    <p>{{ this.exerciseDescrption5}}</p>

    <!-- Botão "Iniciar Exercício" -->
    <button  (click)=" navigate_to_exercise(5)" mat-flat-button class="game-button" *ngIf="step5==false">Iniciar Exercício</button>

    <!-- Mensagem de "Etapa Finalizada!" com Ícone -->
    <div class="success-card" *ngIf="step5==true">
      <mat-icon class="check-icon">check_circle</mat-icon>
      <span>Etapa Finalizada!</span>
    </div>
  </div>
</div>












<!--

   EXERCICIO DE SPEAKING 6

-->


<div class="exercise-container"
     style="
background-image: url('assets/lingobot/lingobot-estudando-com-flashcards.png');
 background-size: cover;
 background-position: left !important;
 border-radius: 20px;
 margin-top: 20px;
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
" *ngIf="trilhaAtual!=='Level 1'">
  <div class="exercise-details">
    <!-- Estrela no canto superior esquerdo -->
    <div class="star-container">
      <mat-icon [ngClass]="{ 'status-icon': true, 'completed': step6, 'incomplete': !step6 }">
        star
      </mat-icon>
    </div>

    <h3>Exercício 6</h3>
   <!-- <p>Speaking! - Fale com LingoBot!</p> -->
    <p>{{ this.exerciseDescrption6 }}</p>

    <!-- Botão "Iniciar Exercício" -->
    <button  (click)=" navigate_to_exercise(6)" mat-flat-button class="game-button" *ngIf="step6==false">Iniciar Exercício</button>

    <!-- Mensagem de "Etapa Finalizada!" com Ícone -->
    <div class="success-card" *ngIf="step6==true">
      <mat-icon class="check-icon">check_circle</mat-icon>
      <span>Etapa Finalizada!</span>
    </div>
  </div>
</div>







<style>

  .banner-trilha {

  background-image: url('assets/lingobot/trilha-do-caralho3.png');


}
  /* Responsividade para mobile */
  @media (max-width: 768px) {

  }
</style>
