<div class="banner-trilha">
  <div class="banner-content">
    <h2>Trilha {{this.trilhaAtual}}</h2>
    <p>Essa trilha vai conter desafios de Listening, Writing, Reading e Speaking.
      Após finalizar todas as etapas, pegue sua recompensa!
    </p>

    <div class="reward-info">
      <img src="assets/lingobot/icons/lxp.png" width="28" height="16" alt="LXP">
      <span class="gold-text">{{ final_lxp_bounty }}</span>
    </div>

    <button [disabled]="!todasEtapasConcluidas()" class="claim-reward-btn">
      Pegar Recompensa
    </button>
  </div>
</div>






<!--

   EXERCICIO DE LISTENING 1

-->
<div class="exercise-container">
  <!-- Vídeo de fundo (exibido quando step1 == true) -->
  <video *ngIf="step1 == true" autoplay muted playsinline class="background-video">
    <source src="assets/lingobot/videos/portao_abrindo.mp4" type="video/mp4">
  </video>

  <!-- Imagem de fundo (exibida quando step1 == false) -->
  <div *ngIf="step1 == false" class="image-background"></div>

  <div class="exercise-details">
    <div class="header" *ngIf="step1 == false">
      <h3>Portão 1°</h3>
      <p>   <img src="assets/lingobot/icons/skills/listening.png"  width="20" height="20" style="margin:0px !important;padding: 0px !important;border-radius: 100%;"> <br> {{ this.exerciseDescrption1 }}</p>

    </div>

    <button mat-flat-button class="game-button" (click)="navigate_to_exercise(1)" *ngIf="step1==false">Iniciar Exercício</button>

    <div class="success-card" *ngIf="step1==true">
      <mat-icon class="check-icon">check_circle</mat-icon>
      <span>Etapa Finalizada!</span>
    </div>
  </div>
</div>









<!--

   EXERCICIO DE LISTENING + Conversation

-->


<div class="exercise-container">
  <!-- Vídeo de fundo (exibido quando step2 == true) -->
  <video *ngIf="step2 == true" autoplay muted playsinline class="background-video">
    <source src="assets/lingobot/videos/portao_abrindo.mp4" type="video/mp4">
  </video>

  <!-- Imagem de fundo (exibida quando step2 == false) -->
  <div *ngIf="step2 == false" class="image-background"></div>

  <div class="exercise-details">
    <div class="header" *ngIf="step2 == false">
      <h3>Portão 2°</h3>
      <p>    <img src="assets/lingobot/icons/skills/writing.png" width="20" height="20" style="margin:0px !important;padding: 0px !important;border-radius: 100%;">     <img src="assets/lingobot/icons/skills/reading.png" width="20" height="20" style="margin:0px !important;padding: 0px !important;border-radius: 100%;"> <br> {{ this.exerciseDescrption2 }}</p>
    </div>

    <button mat-flat-button class="game-button" (click)="navigate_to_exercise(2)" *ngIf="step2==false">Iniciar Exercício</button>

    <div class="success-card" *ngIf="step2==true">
      <mat-icon class="check-icon">check_circle</mat-icon>
      <span>Etapa Finalizada!</span>
    </div>
  </div>
</div>







<div class="exercise-container">
  <!-- Vídeo de fundo (exibido quando step3 == true) -->
  <video *ngIf="step3 == true" autoplay muted playsinline class="background-video">
    <source src="assets/lingobot/videos/portao_abrindo.mp4" type="video/mp4">
  </video>

  <!-- Imagem de fundo (exibida quando step3 == false) -->
  <div *ngIf="step3 == false" class="image-background"></div>

  <div class="exercise-details">
    <div class="header" *ngIf="step3 == false">
      <h3>Portão 3°</h3>
      <p>{{ this.exerciseDescrption3 }}</p>
    </div>

    <button mat-flat-button class="game-button" (click)="navigate_to_exercise(3)" *ngIf="step3==false">Iniciar Exercício</button>

    <div class="success-card" *ngIf="step3==true">
      <mat-icon class="check-icon">check_circle</mat-icon>
      <span>Etapa Finalizada!</span>
    </div>
  </div>
</div>







<!--

   EXERCICIO DE WRTING  4

-->


<div class="exercise-container">
  <!-- Vídeo de fundo (exibido quando step4 == true) -->
  <video *ngIf="step4 == true" autoplay muted playsinline class="background-video">
    <source src="assets/lingobot/videos/portao_abrindo.mp4" type="video/mp4">
  </video>

  <!-- Imagem de fundo (exibida quando step4 == false) -->
  <div *ngIf="step4 == false" class="image-background"></div>

  <div class="exercise-details">
    <div class="header" *ngIf="step4 == false">
      <h3>Portão 4°</h3>
      <p>{{ this.exerciseDescrption4 }}</p>
    </div>

    <button mat-flat-button class="game-button" (click)="navigate_to_exercise(4)" *ngIf="step4==false">Iniciar Exercício</button>

    <div class="success-card" *ngIf="step4==true">
      <mat-icon class="check-icon">check_circle</mat-icon>
      <span>Etapa Finalizada!</span>
    </div>
  </div>
</div>



<!--

   EXERCICIO DE WRTING  5

-->


<div class="exercise-container">
  <!-- Vídeo de fundo (exibido quando step5 == true) -->
  <video *ngIf="step5 == true" autoplay muted playsinline class="background-video">
    <source src="assets/lingobot/videos/portao_abrindo.mp4" type="video/mp4">
  </video>

  <!-- Imagem de fundo (exibida quando step5 == false) -->
  <div *ngIf="step5 == false" class="image-background"></div>

  <div class="exercise-details">
    <div class="header" *ngIf="step5 == false">
      <h3>Portão 5°</h3>
      <p>{{ this.exerciseDescrption5 }}</p>
    </div>

    <button mat-flat-button class="game-button" (click)="navigate_to_exercise(5)" *ngIf="step5==false">Iniciar Exercício</button>

    <div class="success-card" *ngIf="step5==true">
      <mat-icon class="check-icon">check_circle</mat-icon>
      <span>Etapa Finalizada!</span>
    </div>
  </div>
</div>











<!--

   EXERCICIO DE SPEAKING 6

-->

<div class="exercise-container" *ngIf="trilhaAtual !=='Level 1'">
  <!-- Vídeo de fundo (exibido quando step6 == true) -->
  <video *ngIf="step6 == true" autoplay muted playsinline class="background-video">
    <source src="assets/lingobot/videos/portao_abrindo.mp4" type="video/mp4">
  </video>

  <!-- Imagem de fundo (exibida quando step6 == false) -->
  <div *ngIf="step6 == false" class="image-background"></div>

  <div class="exercise-details">
    <div class="header" *ngIf="step6 == false">
      <h3>Portão 6°</h3>
      <p>{{ this.exerciseDescrption6 }}</p>
    </div>

    <button mat-flat-button class="game-button" (click)="navigate_to_exercise(6)" *ngIf="step6==false">Iniciar Exercício</button>

    <div class="success-card" *ngIf="step6==true">
      <mat-icon class="check-icon">check_circle</mat-icon>
      <span>Etapa Finalizada!</span>
    </div>
  </div>
</div>



<style>




  /* Contêiner principal */
  .exercise-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    height: 300px;
    margin-top:30px;
  }

  /* Vídeo de fundo */
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz o vídeo cobrir toda a área do contêiner */
    z-index: -1; /* Coloca o vídeo atrás dos outros elementos */
    border-radius: 20px;

  }

  /* Imagem de fundo */
  .image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/lingobot/portoes-dentro-da-dugeon.png');
    background-size: cover;
    background-position: left !important;
    border-radius: 20px;
    z-index: -1; /* Coloca a imagem atrás dos outros elementos */
  }

  /* Contêiner de detalhes */
  .exercise-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    position: relative;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
  }

  /* Resto dos estilos permanecem os mesmos */

















  .banner-trilha {

  background-image: url('assets/lingobot/portao da torre.jpg');


}
  /* Responsividade para mobile */
  @media (max-width: 768px) {

  }
</style>
