<div class="conversation-container">
  <!-- Balão de fala -->
  <div class="speech-bubble">
    <p *ngIf="indicePerguntaAtual == 1 && perguntaAtual=='' && !isLoading">
      Escolha o Assunto de nossa conversa e vou te fazer perguntas em inglês e avaliar sua escrita.
    </p>

    <!-- Exibe a pergunta atual -->
    <p *ngIf="perguntaAtual"> {{ perguntaAtual }} </p>

    <!-- Loading -->
    <div class="loading-dots" *ngIf="isLoading">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>


    <div  *ngIf="feedbackUsuario?.length">
      <h3>Avaliação do seu inglês:</h3>
      <ul>
        <li *ngFor="let item of feedbackUsuario">
          <p><strong>Erro:</strong> {{ item.erro }}</p>
          <p><strong>Correção:</strong> {{ item.correcao }}</p>
          <p><strong>Dicas:</strong></p>
          <ul>
            <li *ngFor="let dica of item.dicas">{{ dica }}</li>
          </ul>
        </li>
      </ul>
      <br>
      <button mat-flat-button class="game-button" (click)="voltar()">
        Voltar
      </button>


    </div>




  </div>


  <!-- Imagem do personagem -->
  <img src="assets/lingobot/lingobot-conversando-transparent.png" class="character-image">



<div *ngIf="!hideForm">

  <!-- Formulário -->
  <form [formGroup]="formulario">
    <!-- Campo para escolher o tema -->
    <textarea *ngIf="indicePerguntaAtual === 1"
              formControlName="mainTheme"
              class="answer-input"
              placeholder="Exemplo: Tecnologia, Filmes, Viagens..."
              rows="4" cols="50"></textarea>

    <!-- Campo para responder a pergunta -->
    <textarea *ngIf="indicePerguntaAtual > 1"
              formControlName="respostaUsuario"
              class="answer-input"
              placeholder="Digite sua resposta..."
              rows="4" cols="50"></textarea>
  </form>



  <!-- Botão de Enviar -->
  <div class="button-container">
    <button mat-flat-button class="game-button" (click)="enviarResposta()">
      {{ indicePerguntaAtual === 1 ? 'Gerar Perguntas' : 'Responder' }}
    </button>
  </div>


</div>


</div>




<style>


  /* Responsividade para mobile */
  @media (max-width: 768px) {
   .conversation-container{
     margin-top: 120px;
   }
  }
</style>
