<div class="container">
  <app-header></app-header>
  <router-outlet style="background: black !important;"></router-outlet>
</div>
<div *ngIf="showLevelUpModal" class="level-up-modal">
  <div class="modal-content animate">
    <img src="assets/lingobot/lingobot-level-up.png" alt="Level Up" class="level-up-image">
    <button class="game-button" (click)="closeModal()">Continuar</button>
  </div>
</div>


<div *ngIf="showTokensModal" class="level-up-modal">
  <div class="modal-content">
    <img src="assets/lingobot/lingobot-tokens-acabaram2.png" alt="No More Tokens" class="tokens-image">
    <button class="game-button" (click)="closeModal2()">Continuar</button>
  </div>
</div>




<!-- modal lingobot -->
<div *ngIf="showLingoBotModal" class="flashcard-modal" style="margin-top: -20px !important;background: transparent!important;border:none !important;  ">
  <div class="modal-flashcard-content">
    <app-lingobot-card></app-lingobot-card>
  </div>
</div>

<!-- esse é o modal de flashcard -->
<div *ngIf="showFlashcardModal" class="flashcard-modal" style="margin-top: -20px !important; transform: scale(0.8)">
  <div class="modal-flashcard-content animation-zoom">
    <app-create-flashcard></app-create-flashcard>
  </div>
</div>



<div *ngIf="showCelularModal" class="user-info-dialog">
  <div class="user-info-content">
    <div class="modal-content">
      <app-account-settings></app-account-settings>
    </div>
  </div>
</div>

<div *ngIf="showSettingsModal" class="user-info-dialog">
  <div class="settings-content">
    <div class="modal-content2">
      <app-settings></app-settings>
    </div>
  </div>
</div>




<div *ngIf="showMugModal" class="mug-dialog">
  <div class="mug-content">
    <div class="modal-content">
      <app-mug-translate></app-mug-translate>


      <div
        (click)="toggleMug()"
        class="closeMugModal"
      >
        <h3>
          &#10006;
        </h3>
      </div>


    </div>
  </div>
</div>





<div *ngIf="showBookModal" class="mug-dialog">
  <div class="mug-content">
    <div class="modal-content">
      <app-notebook></app-notebook>
      <div
        (click)="toggleBook()"
        class="closeMugModal"
      >
        <h3>
          &#10006;
        </h3>
      </div>
    </div>

  </div>
</div>


<div *ngIf="showEldersBookModal" class="mug-dialog">
  <div class="mug-content">
    <div class="modal-content">
      <app-elders-notebook></app-elders-notebook>
      <div
        (click)="toggleEldersBook()"
        class="closeMugModal"
      >
        <h3>
          &#10006;
        </h3>
      </div>
    </div>

  </div>
</div>








<div *ngIf="showRankingModal" class="ranking-dialog">
  <div class="ranking-content">
    <div class="modal-ranking-content">
      <app-ranking></app-ranking>
    </div>
  </div>
</div>




<!-- Botão de Flashcard
<button class="floating-button flashcard-button" (click)="toggleFlashcardModal()" *ngIf="isFlashcardsRoute && !isLoginRoute">
  <mat-icon>{{ showFlashcardModal ? 'close' : 'edit' }}</mat-icon>
</button>


<button class="floating-button image-button" (click)=" toggleLingoBot()" *ngIf="!isFlashcardsRoute  && !isLoginRoute">
  <img src="assets/lingobot/lingobot-button-icon.png" alt="Lingobot Photo">
</button>


(click)=" toggleLingoBot()"
-->




<!-- OPÇÕES DE MENU






  <button      style="z-index: 999921211" class="floating-button image-button5"  (touchstart)=" toggleLingoBot()" *ngIf="!isLoginRoute">
    <img src="assets/lingobot/menu-icons/skills.png" alt="Skills Photo" style="border-radius: 20px !important;">
  </button>
  <button     style="z-index: 999912111" class="floating-button image-button6"  (touchstart)=" toggleLingoBot()" *ngIf="!isLoginRoute">
    <img src="assets/lingobot/menu-icons/icone-ranking.png" alt="Ranking Photo" style="border-radius: 20px !important;">
  </button>

  <button    style="z-index: 999912111"  class="floating-button image-button7" (touchstart)=" toggleLingoBot()" *ngIf="!isLoginRoute">
    <img src="assets/lingobot/menu-icons/pilha_de_moedas.png" alt="Coins Photo" style="border-radius: 20px !important;">
  </button>


  <button    style="z-index: 999912111"  class="floating-button image-button8" (touchstart)=" toggleLingoBot()" *ngIf="!isLoginRoute">
    <img src="assets/lingobot/menu-icons/gear_icon.png" alt="Gear Photo" style="border-radius: 20px !important;">
  </button>
assets/lingobot/menu-icons/powers/bag-icon.png
-->






<!-- BAG COM PODERES



<button   style="z-index: 9999112111" class="floating-button image-button" (touchstart)="toggleCelularModal()" *ngIf="!isLoginRoute">
  <img src="assets/lingobot/menu-icons/celular_icon.png" alt="Bag Photo">
</button>
-->

<button   style="z-index: 9999112112" class="floating-button image-button" (touchstart)="openTools()" *ngIf="!isLoginRoute">
  <img src="assets/lingobot/menu-icons/powers/bag-icon.png" alt="Bag Photo">
</button>




<button    style="z-index: 9999" class="floating-button  image-button3" (touchstart)=" toggleMug()" *ngIf="!isLoginRoute &&  this.showOpenTools">
  <img src="assets/lingobot/menu-icons/powers/mug-tradutor-power1.jpg" alt="Bag Photo" style="border-radius: 20px !important;">
</button>


<button    style="z-index: 9999" class="floating-button image-button2" (touchstart)=" toggleEldersBook()" *ngIf="!isLoginRoute &&  this.showOpenTools">
  <img src="assets/lingobot/menu-icons/powers/elders-book.png" alt="Bag Photo" style="border-radius: 20px !important;">
</button>



<button   style="z-index: 9999" class="floating-button image-button4" (touchstart)=" toggleBook()" *ngIf="!isLoginRoute &&  this.showOpenTools">
  <img src="assets/lingobot/menu-icons/powers/book-icon.png" alt="Notebook">
</button>


<!--   <img src="assets/lingobot/menu-icons/powers/cavalo_preto.png" alt="Bag Photo" style="border-radius: 20px !important;"> -->





<app-bottom-navigation *ngIf="!isLoginRoute" ></app-bottom-navigation>

<app-footer-links  *ngIf="isLoginRoute"></app-footer-links>



<style>

  .container{
     background: black !important;
  }
  .closeMugModal {
    position: absolute;
    top: 10vh;       /* distancia do topo, adaptável */
    left: 2vw;      /* distancia da esquerda, adaptável */

    z-index: 10;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    max-width: 90vw;
    height: 27px !important;
    transform: scale(0.7);

  }

  .closeMugModal h3 {
    margin: 0;
    color: white !important;
    font-size: 20px;
    font-weight: 500;
  }


  .user-info-dialog {
    position: fixed; /* Mantém o modal sempre fixo na tela */
    top: 0;
    left: 0;
    width: 100vw; /* Ocupa 100% da largura da tela */
    height: 100vh; /* Ocupa 100% da altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Fundo escurecido para destacar o modal */
    z-index: 10 !important;
  }

  .user-info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('assets/lingobot/menu-icons/celular-infos.png');
    background-size: cover; /* A imagem cobrirá toda a tela */
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; /* Ocupa toda a largura da tela */
    height: 100vh; /* Ocupa toda a altura da tela */
    overflow: hidden; /* Evita rolagem */
    z-index: 10 !important;
  }

  .settings-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('assets/lingobot/home/testar_pergaminho.jpg');
    background-size: cover; /* A imagem cobrirá toda a tela */
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; /* Ocupa toda a largura da tela */
    height: 100vh; /* Ocupa toda a altura da tela */
    overflow: hidden; /* Evita rolagem */
    z-index: 10 !important;
  }




  .mug-dialog {
    position: fixed; /* Mantém o modal sempre fixo na tela */
    top: 0;
    left: 0;
    width: 100vw; /* Ocupa 100% da largura da tela */
    height: 100vh; /* Ocupa 100% da altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Fundo escurecido para destacar o modal */
    z-index: 10 !important;
  }

  .mug-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-image: url('assets/lingobot/menu-icons/celular-infos.png');*/
    background-size: cover; /* A imagem cobrirá toda a tela */
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; /* Ocupa toda a largura da tela */
    height: 100vh; /* Ocupa toda a altura da tela */
    overflow: hidden; /* Evita rolagem */
    z-index: 10 !important;
  }








  .ranking-dialog {
    position: fixed; /* Mantém o modal sempre fixo na tela */
    top: 0;
    left: 0;
    width: 100vw; /* Ocupa 100% da largura da tela */
    height: 100vh; /* Ocupa 100% da altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Fundo escurecido para destacar o modal */
    z-index: 10 !important;
  }

  .ranking-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('assets/lingobot/pergaminho.png');
    background-size: cover; /* A imagem cobrirá toda a tela */
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; /* Ocupa toda a largura da tela */
    height: 100vh; /* Ocupa toda a altura da tela */
    overflow: hidden; /* Evita rolagem */
    z-index: 10 !important;
  }





  .modal-ranking-content {
    width: 70%; /* Define uma largura para o conteúdo */
    max-width: 600px; /* Evita que fique muito grande */
    margin-top:10% !important;
    transform: scale(0.9);
    padding:  0px;
    margin-left: -40px !important;
    border-radius: 10px;
    text-align: center;
  }



  .modal-content {
    width: 70%; /* Define uma largura para o conteúdo */
    max-width: 600px; /* Evita que fique muito grande */
    margin-top:40% !important;
    padding:  0px;
    margin-left: -40px !important;
    border-radius: 10px;
    text-align: center;
  }



  .modal-content2 {
    width: 100%; /* Define uma largura para o conteúdo */
    margin-top: 30% !important;

    text-align: center;
  }
</style>
