<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- LEVEL ALERT -->
<app-level-up *ngIf="showLevelUpModal"  ></app-level-up>

<!-- GEMAS WARNING -->
<app-gemas-warning *ngIf="showGemasWarningModal"></app-gemas-warning>


<div *ngIf="showNewItemModal" class="mug-dialog">
  <div class="mug-content">
    <div class="modal-content">
      <app-new-item-modal [item]="newItem"></app-new-item-modal>
    </div>
  </div>
</div>


<div *ngIf="showRankingModal" class="ranking-dialog">
  <div class="ranking-content">
    <div class="modal-ranking-content">
      <app-ranking></app-ranking>
    </div>
  </div>
</div>


