/* TELAS PC */
@media (min-width: 769px) {


}


/* Telas Mobile */
@media (max-width: 768px) {

}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

}
































