<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- LEVEL ALERT -->
<app-level-up *ngIf="showLevelUpModal"  ></app-level-up>

<!-- GEMAS WARNING -->
<app-gemas-warning *ngIf="showGemasWarningModal"></app-gemas-warning>


<div *ngIf="showNewItemModal" class="mug-dialog">
  <div class="mug-content">
    <div class="modal-content">
      <app-new-item-modal [item]="newItem"></app-new-item-modal>
    </div>
  </div>
</div>



<!-- FLOPPY DISK -->
<!-- Disquete de salvamento, visibilidade controlada pela classe 'visible' -->
<div class="floppy-disk" [ngClass]="{'visible': isSaving}">
  <img src="assets/lingobot/menu-icons/floppy_disk.webp" alt="Disquete de Salvamento">
  <h3>Salvando<span></span></h3>
</div>



