:host {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
  box-sizing: border-box;

}



/* Estilo para o botão flutuante */
  .back-btn {
    position: fixed;
    top: 20px; /* Distância do topo da tela */
    left: 20px; /* Distância da esquerda da tela */
    width: 50px; /* Largura do botão */
    height: 50px; /* Altura do botão */
    border-radius: 50%; /* Deixa o botão redondo */
    background-color: #4A90E2; /* Cor de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para o botão */
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
    z-index: 1000; /* Garante que o botão ficará por cima de outros elementos */
    transition: background-color 0.3s ease; /* Efeito de transição ao passar o mouse */
  }

  .back-btn:hover {
    background-color: #904E95; /* Cor de fundo ao passar o mouse */
  }

  .back-btn img {
    width: 30px; /* Tamanho do ícone dentro do botão */
    height: 30px; /* Tamanho do ícone dentro do botão */
  }










@keyframes glowing {
  0% {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 215, 0, 1), 0 0 60px rgba(255, 165, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
  }
}
@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.level-up-image {

  max-width: 100%;
  max-height:100%;
  border-radius: 20px !important;
  animation: glowing 1.5s infinite alternate, zoomEffect 2s infinite ease-in-out;
}




/* app.component.css */
.level-up-modal {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;

}

.flashcard-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent !important;
  border:none !important;
  z-index: 1000;
  box-sizing: border-box;
}
.modal-flashcard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent !important;
  padding: 0;

  text-align: center;

  border-radius: 5px;
  margin-top: -50px !important;


}


.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  padding: 0;

  text-align: center;

  margin-top: -50px !important;


}










/** BOTÃO   ESTILO JOGO **/
.game-button {

  margin-top: 30px !important;
  padding: 15px;
  font-size: 12pt  ;
  color: white  ;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  outline: none;
  background: linear-gradient(145deg, #007bff, #6f42c1);
  box-shadow: 0 5px 0 #0056b3, 0 8px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}

.game-button:active {
  box-shadow: 0 2px 0 #0056b3, 0 4px 6px rgba(0, 0, 0, 0.3);
}

.game-button:hover {
  background: linear-gradient(145deg, #1e90ff, #8a2be2);

}

.game-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  transition: left 0.5s ease-in-out;
}

.game-button:hover::before {
  left: 100%;
}





.x_button_rounded {
  background-color: white;
  color: #333;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  outline: none;
}

.x_button_rounded mat-icon {
  font-size: 24px;
}

.x_button_rounded:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
}

.x_button_rounded:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}







.floating-button {
  position: fixed;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 99999;
  transition: background 0.3s ease, transform 0.2s ease;
  border: none;
  outline: none;
}

.floating-button:hover {
  transform: scale(1.1);
}

/* Botão de Flashcard (ajustado um pouco para cima) */
.flashcard-button {
  bottom: 60px;
  right: 15px;
  background: linear-gradient(145deg, #007bff, #6f42c1);
}

.flashcard-button:hover {
  background: linear-gradient(145deg, #1e90ff, #8a2be2);
}

.flashcard-button mat-icon {
  color: white;
}

/* Novo botão com imagem (abaixo do de Flashcard) */
.image-button {
  top: 10px;
  right: 5px;
  background: transparent !important;
  border: none !important;


  border-radius: 50px !important;

  backdrop-filter: blur(16px); /* Efeito de vidro mais leve */
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* Sombra bem sutil */
}

.image-button img {
  width: 40px;
  height: auto;
}


.image-button-mage {
  top: 10px;
  right: 11vh;
  background: transparent !important;
  border: none !important;


  border-radius: 50px !important;

  backdrop-filter: blur(16px); /* Efeito de vidro mais leve */
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* Sombra bem sutil */
}

.image-button-mage img {
  width: 40px;
  height: auto;
}





.mages {
  top: 12vh;
  right: 12vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px; /* espaço entre os botões */
  z-index: 22222;
  padding: 10px;
  backdrop-filter: blur(16px); /* Efeito de vidro mais leve */
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* Sombra bem sutil */
  border-radius: 15px;

}

.image-button {
  background: none;
  z-index: 9933399;
  border:none;
  box-shadow: none !important;
  padding: 0;
}










.container{
  background: black !important;
}
.closeMugModal {
  position: absolute;
  top: 10vh;       /* distancia do topo, adaptável */
  left: 2vw;      /* distancia da esquerda, adaptável */

  z-index: 10;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  text-align: center;
  max-width: 90vw;
  height: 27px !important;
  transform: scale(0.7);

}

.closeMugModal h3 {
  margin: 0;
  color: white !important;
  font-size: 20px;
  font-weight: 500;
}


.user-info-dialog {
  position: fixed; /* Mantém o modal sempre fixo na tela */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa 100% da largura da tela */
  height: 100vh; /* Ocupa 100% da altura da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* Fundo escurecido para destacar o modal */
  z-index: 10 !important;
  box-sizing: border-box;
}


.settings-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/assets/lingobot/home/testar_pergaminho.webp');
  background-size: cover; /* A imagem cobrirá toda a tela */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; /* Ocupa toda a largura da tela */
  height: 100vh; /* Ocupa toda a altura da tela */
  overflow: hidden; /* Evita rolagem */
  z-index: 10 !important;
  box-sizing: border-box;
}




.mug-dialog {
  position: fixed; /* Mantém o modal sempre fixo na tela */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa 100% da largura da tela */
  height: 100vh; /* Ocupa 100% da altura da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* Fundo escurecido para destacar o modal */
  z-index: 10 !important;
  box-sizing: border-box;
}

.mug-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-image: url('assets/lingobot/menu-icons/celular-infos.png');*/
  background-size: cover; /* A imagem cobrirá toda a tela */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; /* Ocupa toda a largura da tela */
  height: 100vh; /* Ocupa toda a altura da tela */
  overflow: hidden; /* Evita rolagem */
  z-index: 10 !important;
  box-sizing: border-box;
}








.ranking-dialog {
  position: fixed; /* Mantém o modal sempre fixo na tela */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa 100% da largura da tela */
  height: 100vh; /* Ocupa 100% da altura da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* Fundo escurecido para destacar o modal */
  z-index: 10 !important;
  box-sizing: border-box;
}

.ranking-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/assets/lingobot/pergaminho.webp');
  background-size: cover; /* A imagem cobrirá toda a tela */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; /* Ocupa toda a largura da tela */
  height: 100vh; /* Ocupa toda a altura da tela */
  overflow: hidden; /* Evita rolagem */
  z-index: 10 !important;
  box-sizing: border-box;
}





.modal-ranking-content {
  width: 70%; /* Define uma largura para o conteúdo */
  max-width: 600px; /* Evita que fique muito grande */
  margin-top:10% !important;
  transform: scale(0.9);
  padding:  0px;
  margin-left: -40px !important;
  border-radius: 10px;
  text-align: center;
}



.modal-content {
  width: 70%; /* Define uma largura para o conteúdo */
  max-width: 600px; /* Evita que fique muito grande */
  margin-top:40% !important;
  padding:  0px;
  margin-left: -40px !important;
  border-radius: 10px;
  text-align: center;
}



.modal-content2 {
  width: 100%; /* Define uma largura para o conteúdo */
  margin-top: 30% !important;

  text-align: center;
}






















/* Container do disquete de salvamento */
.floppy-disk {
  position: fixed; /* Posição fixa na tela */
  top: 20vh; /* Moved slightly up */
  right: 2vh; /* Moved slightly to the right */
  transform: translateY(-50%); /* Adjusts for perfect vertical centering */
  z-index: 9999; /* High z-index to overlay other elements */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Space between icon and text */
  opacity: 0; /* Starts invisible */
  pointer-events: none; /* Doesn't interact with the mouse when invisible */
  transition: opacity 0.5s ease-in-out; /* Smooth transition to appear/disappear */
}

/* Class that makes the floppy disk visible */
.floppy-disk.visible {
  opacity: 1;
  pointer-events: auto;
}

/* Floppy disk icon style */
.floppy-disk img {
  width: 80px; /* Icon size */
  height: auto;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2)); /* Shadow to highlight */
  animation: floating 3s ease-in-out infinite; /* Applies floating animation */
}

/* Animation for the icon's floating effect */
@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); } /* Rises 10px */
  100% { transform: translateY(0px); }
}

/* "Saving..." text style */
.floppy-disk h3 {
  color: #fff;
  font-weight: bold;
  margin-top: -10px;
  margin-right: -10px;
  white-space: nowrap; /* Prevents line break */
  font-size: 12pt;
}

/* Pseudo-element to add dots to the text */
.floppy-disk h3 span {
  display: inline-block; /* Allows min-width to be applied */
  min-width: 15px; /* Ensures space for the dots, preventing text shift */
}

.floppy-disk h3 span::after {
  content: ''; /* Starts empty */
  animation: dot-animation 1.5s infinite steps(1, end); /* Dots animation */
}

/* Dots animation */
@keyframes dot-animation {
  0% { content: ''; }
  33% { content: '.'; }
  66% { content: '..'; }
  100% { content: '...'; }
}
