<canvas #canvas></canvas>


<!-- Botão voltar -->
<img src="assets/lingobot/menu-icons/back.png" class="back-button" (click)="back();" >


<!-- Upgrade Quest button -->
<img src="assets/lingobot/tools-icons/tablet-icon.png" class="quest-upgrade-button"  (click)="checkQuest()" >


<!-- Upgrade Quest button -->
<img *ngIf="!resultadoPedagio.podeSubir" src="assets/lingobot/menu-icons/upgrade-tower-off.png" class="upgrade-button" >

<!-- Upgrade Quest button -->
<img (click)="openUpgradeModal()" *ngIf="resultadoPedagio.podeSubir" src="assets/lingobot/menu-icons/upgrade-tower.png" class="upgrade-button floating-button" >




<!-- QUEST MODAL -->
<ng-container *ngIf="checkQuestModal">
  <button (click)="checkQuest()" class="fechar-btn">✕</button>

  <img src="assets/lingobot/paper.png" class="quest-check">


  <div class="quest-check-text">
    <p style="text-align: center;">
      <b style="color: darkgoldenrod">Missão</b><br>
      Para aumentar o nível de sua torre, cumpra com os pré-requisitos.
    </p>
  </div>

  <div class="quest-check-infos">
    <div *ngFor="let requisito of resultadoPedagio.requisitos; let i = index"
         class="requisito-item"
         [class.riscado]="requisito.completo">
      <img class="requisito-icon" [src]="getRequisitoIcon(i)" alt="ícone">
      <span>{{ requisito.nome }}</span>
    </div>
  </div>

</ng-container>






<!-- UPGRADE MODAL -->
<ng-container *ngIf="upgradeModal">
  <button (click)="openUpgradeModal()" class="fechar-btn">✕</button>

  <img src="assets/lingobot/paper.png" class="quest-check">


  <div class="quest-check-text" style="top: 27vh !important;">
    <p style="text-align: center;">
      <b style="color: darkgoldenrod">Upgrade Your Tower</b>
    </p>
    <ul style="text-align: left; padding-left: 20px; margin-top: 10px;">
      <li>Libera os andares {{firstNewFloor}}-{{lastNewFloor}}</li>
      <li>Ganha 5% mais prêmios</li>
    </ul>
  </div>

  <div class="upgrade-requirements">
    <img src="assets/lingobot/itens/gemas.png" class="gemas">
    <span>{{this.gemasToUpgrade}}</span>
    <br><br>
    <img src="assets/lingobot/itens/gold.png" class="coins">
    <span>{{ this.coinsToUpgrade }}</span>
  </div>



  <div class="confirm-btn-container" (click)="upgradeTower()" >
    <img src="assets/lingobot/menu-icons/confirm.png" class="confirm-btn">
  </div>


</ng-container>




