<canvas #canvas></canvas>


<!-- Botão voltar -->
<img src="assets/lingobot/menu-icons/back.webp" class="back-button" (click)="back();" >


<!-- Upgrade Quest button
<img src="assets/lingobot/tools-icons/tablet-icon.webp" class="quest-upgrade-button"  (click)="checkQuest()" >
-->




<!-- Colocar Levels aqui -->
<div class="level-display">
  <img src="assets/lingobot/levels/lv.webp" alt="Level" class="level-icon">
  <ng-container *ngFor="let imagePath of getLevelImagePaths()">
    <img [src]="imagePath" alt="Level Number" class="level-icon">
  </ng-container>
</div>






<!-- hand-click.component.html -->
<div class="hand-container" (click)="onHandClick()" *ngIf="isVisible">
  <img
    src="assets/lingobot/menu-icons/gloves.webp"
    alt="Hand pointing"
    class="hand-image"
    [class.clicking]="isClicking">

  <!-- Ondas dinâmicas -->
  <div
    *ngFor="let wave of waves; "
    class="wave"
    [class.wave-delay-1]="waves.indexOf(wave) === 1"
    [class.wave-delay-2]="waves.indexOf(wave) === 2">
  </div>
</div>




<!-- QUEST MODAL -->
<ng-container *ngIf="checkQuestModal">
  <button (click)="checkQuest()" class="fechar-btn">✕</button>

  <img src="assets/lingobot/paper.webp" class="quest-check">


  <div class="quest-check-text">
    <p style="text-align: center;">
      <b style="color: darkgoldenrod">Missão</b><br>
      Para aumentar o nível de sua torre, cumpra com os pré-requisitos.
    </p>
  </div>

  <div class="quest-check-infos">
    <div *ngFor="let requisito of resultadoPedagio.requisitos; let i = index"
         class="requisito-item"
         [class.riscado]="requisito.completo">
      <img class="requisito-icon" [src]="getRequisitoIcon(i)" alt="ícone">
      <span>{{ requisito.nome }}</span>
    </div>
  </div>

</ng-container>






<!-- UPGRADE MODAL -->
<ng-container *ngIf="upgradeModal">
  <button (click)="openUpgradeModal()" class="fechar-btn">✕</button>

  <img src="assets/lingobot/paper.webp" class="quest-check">


  <div class="quest-check-text" style="top: 27vh !important;">
    <p style="text-align: center;">
      <b style="color: darkgoldenrod">Upgrade Your Tower</b>
    </p>
    <ul style="text-align: left; padding-left: 20px; margin-top: 10px;">
      <li>Libera os andares {{firstNewFloor}}-{{lastNewFloor}}</li>
      <li>Ganha 5% mais prêmios</li>
    </ul>
  </div>

  <div class="upgrade-requirements">
    <img src="assets/lingobot/itens/gemas.webp" class="gemas">
    <span>{{this.gemasToUpgrade}}</span>
    <br><br>
    <img src="assets/lingobot/itens/gold.webp" class="coins">
    <span>{{ this.coinsToUpgrade }}</span>
  </div>





</ng-container>






































<div  class="holograma-card"
      *ngIf="modal || isClosing"
      [class.open]="modal && !isClosing"
      [class.close]="isClosing">


<h2 class="daily-missions-title">Upgrade Tower</h2>
<p class="daily-missions-description">Cumpra com os pre-requisitos para evoluir sua torre, e aumente seus prêmios</p>





  <div
    class="quest-swiper-container"
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd($event)"
    *ngIf="!resultadoPedagio.podeSubir"
  >
    <div class="quest-swiper-wrapper">
      <div
        class="quest-card"
        *ngFor="let requisito of resultadoPedagio.requisitos; let i = index"
        [ngStyle]="getItemStyle(i)"
      >
        <!-- ÍCONE PRINCIPAL DO REQUISITO -->
        <img
          class="requisito-principal"
          [src]="getRequisitoIcon(i)"
          [alt]="requisito.nome"
          draggable="false"
        />

        <!-- ÍCONE DE STATUS (check ou X) -->
        <div class="requisito-status">
          <img
            [src]="'assets/lingobot/menu-icons/' + (requisito.completo ? 'check.webp' : 'x.webp')"
            [alt]="requisito.completo ? 'Completo' : 'Não completo'"
          />
          <span [class.riscado]="requisito.completo">{{ requisito.nome }}</span>
        </div>
      </div>
    </div>
  </div>




  <!-- Upgrade Quest button

    <img
    [src]="resultadoPedagio.podeSubir ? 'assets/lingobot/menu-icons/upgrade-tower.webp' : 'assets/lingobot/menu-icons/upgrade-tower-off.webp'"
    class="upgrade-button"
    [class.floating-button]="resultadoPedagio.podeSubir"
    (click)="resultadoPedagio.podeSubir && openUpgradeModal()"
    [ngClass]="{'disabled-button': !resultadoPedagio.podeSubir}"
  >

  -->
  <img
    [src]="resultadoPedagio.podeSubir ? 'assets/lingobot/menu-icons/upgrade-tower.webp' : 'assets/lingobot/menu-icons/upgrade-tower-off.webp'"
    class="upgrade-button"
    [class.floating-button]="resultadoPedagio.podeSubir"
    (click)="resultadoPedagio.podeSubir"
    [ngClass]="{'disabled-button': !resultadoPedagio.podeSubir}"
  >



  <div  *ngIf="this.modal" class="x-position center-element" (click)="openQuestModal()">
    <img src="assets/lingobot/menu-icons/x.webp" class="x">
  </div>
</div>


<img
  *ngIf="this.modal"
  src="assets/lingobot/menu-icons/holograma.webp"
  class="projetor entrar-da-esquerda"
  [ngClass]="{'sair-para-esquerda': animandoSaida}"
  (animationend)="onAnimationEnd($event)"
>
