<canvas #canvas></canvas>


<!-- Botão voltar -->
<img src="assets/lingobot/menu-icons/back.webp" class="back-button" (click)="back();" >




<!-- Colocar Levels aqui -->
<div class="level-display">
  <img src="assets/lingobot/levels/lv.webp" alt="Level" class="level-icon">
  <ng-container *ngFor="let imagePath of getLevelImagePaths()">
    <img [src]="imagePath" alt="Level Number" class="level-icon">
  </ng-container>
</div>






<!-- hand-click.component.html -->
<div class="hand-container" (click)="onHandClick()" *ngIf="isVisible">
  <img
    src="assets/lingobot/menu-icons/gloves.webp"
    alt="Hand pointing"
    class="hand-image"
    [class.clicking]="isClicking">

  <!-- Ondas dinâmicas -->
  <div
    *ngFor="let wave of waves; "
    class="wave"
    [class.wave-delay-1]="waves.indexOf(wave) === 1"
    [class.wave-delay-2]="waves.indexOf(wave) === 2">
  </div>
</div>









<div  class="holograma-card"
      *ngIf="modal || isClosing"
      [class.open]="modal && !isClosing"
      [class.close]="isClosing">

  <div *ngIf="!resultadoPedagio.podeSubir">
      <h2 class="daily-missions-title">Upgrade Tower</h2>
      <p class="daily-missions-description">Cumpra com os pre-requisitos para evoluir sua torre, e aumente seus prêmios</p>
  </div>





  <!-- HTML Template -->
  <div class="upgrade-requirements" *ngIf="upgradeActive">
    <div class="requirements-header">
      <h3 class="requirements-title">Upgrade Cost</h3>
    </div>

    <div class="requirements-content">
      <div class="requirement-item">
        <div class="requirement-icon-wrapper">
          <img src="assets/lingobot/itens/gemas.webp" class="requirement-icon gemas">
        </div>
        <span class="requirement-value">{{ this.gemasToUpgrade }}</span>
        <span class="requirement-label">Gems</span>
      </div>

      <div class="requirement-divider"></div>

      <div class="requirement-item">
        <div class="requirement-icon-wrapper">
          <img src="assets/lingobot/itens/gold.webp" class="requirement-icon coins">
        </div>
        <span class="requirement-value">{{ this.coinsToUpgrade }}</span>
        <span class="requirement-label">Coins</span>
      </div>
      <img src="assets/lingobot/menu-icons/confirm.webp" class="confirm-button" (click)="upgradeTower()">
    </div>
  </div>




  <!-- HTML Template -->
  <div *ngIf="resultadoPedagio.podeSubir && rewardComparison && !upgradeActive" class="pre-upgrade-infos">
    <div class="rewards-container">
      <div class="current-rewards">
        <h3 class="rewards-title">Current Rewards</h3>
        <div class="reward-item">
          <img src="assets/lingobot/itens/gold.webp" alt="Gold" class="reward-icon">
          <span class="reward-value">{{ rewardComparison.current.gold }}</span>
        </div>
        <div class="reward-item">
          <img src="assets/lingobot/menu-icons/level.webp" alt="XP" class="reward-icon">
          <span class="reward-value">{{ rewardComparison.current.xp }}</span>
        </div>
      </div>

      <div class="upgrade-arrow">
        <div class="arrow-icon">
          <img src="assets/lingobot/menu-icons/arrow_down.webp" alt="Arrow Down" class="arrow-image">
        </div>
      </div>

      <div class="next-rewards">
        <h3 class="rewards-title upgrade-title">Rewards after Upgrade</h3>
        <div class="reward-item upgraded">
          <img src="assets/lingobot/itens/gold.webp" alt="Gold" class="reward-icon">
          <span class="reward-value">{{ rewardComparison.next.gold }}</span>
          <span class="upgrade-badge">+{{ rewardComparison.next.gold - rewardComparison.current.gold }}</span>
        </div>
        <div class="reward-item upgraded">
          <img src="assets/lingobot/menu-icons/level.webp" alt="XP" class="reward-icon">
          <span class="reward-value">{{ rewardComparison.next.xp }}</span>
          <span class="upgrade-badge">+{{ rewardComparison.next.xp - rewardComparison.current.xp }}</span>
        </div>
      </div>
    </div>
  </div>



  <div
    class="quest-swiper-container"
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd($event)"
    *ngIf="!resultadoPedagio.podeSubir"
  >
    <div class="quest-swiper-wrapper">
      <div
        class="quest-card"
        *ngFor="let requisito of resultadoPedagio.requisitos; let i = index"
        [ngStyle]="getItemStyle(i)"
      >
        <!-- ÍCONE PRINCIPAL DO REQUISITO -->
        <img
          class="requisito-principal"
          [src]="getRequisitoIcon(i)"
          [alt]="requisito.nome"
          draggable="false"
        />

        <!-- ÍCONE DE STATUS (check ou X) -->
        <div class="requisito-status">
          <img
            [src]="'assets/lingobot/menu-icons/' + (requisito.completo ? 'check.webp' : 'x.webp')"
            [alt]="requisito.completo ? 'Completo' : 'Não completo'"
          />
          <span [class.riscado]="requisito.completo">{{ requisito.nome }}</span>
        </div>
      </div>
    </div>
  </div>




  <!-- Upgrade Quest button

    <img
    [src]="resultadoPedagio.podeSubir ? 'assets/lingobot/menu-icons/upgrade-tower.webp' : 'assets/lingobot/menu-icons/upgrade-tower-off.webp'"
    class="upgrade-button"
    [class.floating-button]="resultadoPedagio.podeSubir"
    (click)="resultadoPedagio.podeSubir && openUpgradeModal()"
    [ngClass]="{'disabled-button': !resultadoPedagio.podeSubir}"
  >

  -->
  <img
    *ngIf="!upgradeActive"
    [src]="resultadoPedagio.podeSubir ? 'assets/lingobot/menu-icons/upgrade-tower.webp' : 'assets/lingobot/menu-icons/upgrade-tower-off.webp'"
    class="upgrade-button"
    [class.floating-button]="resultadoPedagio.podeSubir"
    (click)="setUpgradeActive()"
    [ngClass]="{'disabled-button': !resultadoPedagio.podeSubir}"
  >



  <div  *ngIf="this.modal" class="x-position center-element" (click)="openQuestModal()">
    <img src="assets/lingobot/menu-icons/x.webp" class="x">
  </div>
</div>


<img
  *ngIf="this.modal"
  src="assets/lingobot/menu-icons/holograma.webp"
  class="projetor entrar-da-esquerda"
  [ngClass]="{'sair-para-esquerda': animandoSaida}"
  (animationend)="onAnimationEnd($event)"
>
