

<div  class="holograma-card"  *ngIf="modal || isClosing"   [class.open]="modal && !isClosing"  [class.close]="isClosing">








  <h2 class="daily-missions-title">Daily Missions</h2>
  <p class="daily-missions-description">Faça as missões diárias, ganhe gemas e mantenha seu strike diário</p>

  <div class="currency-section">
    <div class="currency-item gold">
      <img src="assets/lingobot/menu-icons/strike.png" alt="Gold" class="currency-icon">
      <span class="currency-amount"> {{ timersService.getStrikes() }}</span>
    </div>
    <div class="currency-item gems">
      <img src="assets/lingobot/itens/gemas.png" alt="Gems" class="currency-icon">
      <span class="currency-amount"> {{ timersService.getMissionsData().rewardPerChest }}</span>
    </div>
  </div>



  <!-- SWIPER CONTAINER -->
  <div
    class="chest-swiper-container"
    (touchstart)="onTouchStart($event)"
    (touchend)="onTouchEnd($event)"
  >
    <div class="chest-swiper-wrapper">
      <div
        class="chest-box"
        *ngFor="let missao of missoesDiarias; let i = index"
        [ngStyle]="getItemStyle(i)"
      >
        <!-- BAÚ -->
        <img
          [src]="getChestImage(missao)"
          class="chest-image"
          [ngClass]="{ 'animate': missao.completo && !isChestOpen(missao) }"
          (click)="openChest(missao)"
          alt="Chest"
          draggable="false"
        />

        <!-- INFO DA MISSÃO -->
        <div class="mission-info">
          <img
            class="mission-icon"
            [src]="getIconeMissao(missao.nome)"
            [alt]="missao.nome"
            draggable="false"
          />
          <span class="mission-title" [class.riscado]="missao.completo">
          Praticar {{ missao.nome }}
        </span>
        </div>
      </div>
    </div>
  </div>


















  <div  *ngIf="this.modal" class="x-position center-element" (click)="openQuestModal()">
    <img src="assets/lingobot/menu-icons/x.png" class="x">
  </div>



</div>

<!-- Reward Alert -->
<div *ngIf="showRewardAlert" class="reward-alert" [ngClass]="rewardAlertClass">
  <img src="assets/lingobot/itens/gemas.png" alt="Gemas" class="gem-icon">
  <span class="reward-text">+ {{ currentRewardAmount }}</span>
</div>


<img
  *ngIf="this.modal"
  src="assets/lingobot/menu-icons/holograma.png"
  class="projetor entrar-da-esquerda"
  [ngClass]="{'sair-para-esquerda': animandoSaida}"
  (animationend)="onAnimationEnd($event)"
>
