

<div  class="holograma-card"  *ngIf="modal || isClosing"   [class.open]="modal && !isClosing"  [class.close]="isClosing">




  <div class="chest-boxes">
    <div class="chest-box" *ngFor="let missao of missoesDiarias">
      <!-- BAÚ -->
      <img
        [src]="getChestImage(missao)"
        class="chest-image"
        [ngClass]="{ 'animate': missao.completo && !isChestOpen(missao) }"
        (click)="openChest(missao)"
        alt="Chest"
        draggable="false"
      />

      <!-- INFO DA MISSÃO -->
      <div class="mission-info">
        <img
          class="mission-icon"
          [src]="getIconeMissao(missao.nome)"
          [alt]="missao.nome"
          draggable="false"
        />
        <span class="mission-title" [class.riscado]="missao.completo">
        Praticar {{ missao.nome }}
      </span>
      </div>
    </div>
  </div>


















  <div  *ngIf="this.modal" class="x-position center-element" (click)="openQuestModal()">
    <img src="assets/lingobot/menu-icons/x.png" class="x">
  </div>



</div>

<!-- Reward Alert -->
<div *ngIf="showRewardAlert" class="reward-alert" [ngClass]="rewardAlertClass">
  <img src="assets/lingobot/itens/gemas.png" alt="Gemas" class="gem-icon">
  <span class="reward-text">+ {{ currentRewardAmount }}</span>
</div>


<img
  *ngIf="this.modal"
  src="assets/lingobot/menu-icons/holograma.png"
  class="projetor entrar-da-esquerda"
  [ngClass]="{'sair-para-esquerda': animandoSaida}"
  (animationend)="onAnimationEnd($event)"
>
