
<div *ngIf="isLoading"  style="margin-top: 100% !important;margin-left: 16% !important;">
  <div class="loading-dots"   >
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>

  </div>
  <br>
  <h1>Loading..</h1>

</div>


<div class="ranking-container"  *ngIf="!isLoading">


  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="color: darkgoldenrod;">Ranking</h2>
    <p style="text-align: center;">
      Para subir no ranking, suba ao andar mais alto que puder.
    </p>
  </div>


  <!-- Pódio -->
  <div class="podium">
    <div class="rank third podium-item">
      <img [src]="ranking[2]?.avatar" alt="Avatar" />
      <div class="name">{{ ranking[2]?.nome }}</div>
      <div class="score">{{ ranking[2]?.LingoEXP }} LXP</div>
    </div>
    <div class="rank first podium-item">
      <img [src]="ranking[0]?.avatar" alt="Avatar" />
      <div class="name">{{ ranking[0]?.nome }}</div>
      <div class="score">{{ ranking[0]?.LingoEXP }} LXP</div>
    </div>
    <div class="rank second podium-item">
      <img [src]="ranking[1]?.avatar" alt="Avatar" />
      <div class="name">{{ ranking[1]?.nome }}</div>
      <div class="score">{{ ranking[1]?.LingoEXP }} LXP</div>
    </div>
  </div>

  <!-- Lista de outros jogadores -->
  <div class="ranking-list">
    <div *ngFor="let player of ranking.slice(3); let i = index" [ngClass]="{ 'highlight': player.email === user.email }" class="ranking-item">
      <img [src]="player.avatar" class="ranking-avatar" alt="Avatar" />
      <div class="ranking-position">{{ i + 4 }}&deg;</div> <!-- Posição numérica começa do 4 -->
      <div class="ranking-name">{{ player.nome }}</div>
      <div class="ranking-score">{{ player.LingoEXP }} LXP</div>
    </div>
  </div>
</div>


<div  *ngIf="!isLoading" class="alinhar-center" (click)="toggleRankingModal()">
  <h3>&#10006; Fechar Ranking</h3>
</div>



<style>

    .alinhar-center{
      display: flex;justify-content: center;align-items: center;margin-left: 10% !important;
    }
    .ranking-container {
      padding: 20px;
    }


</style>
