<!-- ÍCONE FLUTUANTE -->
<img
  (click)="openTablet()"
  src="assets/lingobot/tools-icons/tablet-icon.png"
  class="tablet-button"
  [ngStyle]="{
    top: top,
    left: left,
    right: right,
    bottom: bottom,
    position: 'fixed',
      'z-index': zIndex
  }"
/>

/>

<!-- MODAL -->
<div *ngIf="isTabletOpen" class="modal-overlay" (click)="closeTablet()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <img src="assets/lingobot/tools-icons/tablet.png" class="tablet-img" />

    <!-- GLASS CONTAINER -->
    <div class="translator-glass">
      <!-- Chat Container -->
      <div class="chat-container">
        <!-- Translated Content Section -->
        <div class="translated-content" *ngIf="translationResult && !isLoading">
          <!-- Exibe o erro se houver -->
          <p *ngIf="translationResult.error" class="error-message">
            {{ translationResult.error }}
          </p>


                <p *ngIf="translationResult.significado">
                  <strong>Word: </strong> {{ this.translatedWord }}
                </p>

          <!-- Exibe o significado se existir -->
          <p *ngIf="translationResult.significado">

            <strong>Tradução:</strong> {{ translationResult.significado }}
          </p>

          <!-- Exibe a explicação se existir -->
          <p *ngIf="translationResult.categoria">
            <strong>Categoria:</strong> {{ translationResult.categoria }}
          </p>

          <!-- Exibe o exemplo se existir -->
          <p *ngIf="translationResult.exemplo">
            <strong>Exemplo:</strong> {{ translationResult.exemplo }}
          </p>
        </div>

        <!-- Texto inicial quando não há tradução e não está carregando -->
        <div class="translated-text" *ngIf="!translationResult && !isLoading">
          {{ translatedText }}
        </div>

        <p *ngIf="translationResult && !translationResult.significado && !translationResult.error" class="info-message">
          Não foi possível obter uma tradução. Tente outra palavra.
        </p>




        <div class="loading-spinner" *ngIf="isLoading" style="top: 10vh !important;left: 12vh !important;">
          <img src="assets/lingobot/menu-icons/lingobot-energy-on.png" alt="Loading" />
        </div>
      </div>

      <!-- Input and Button Section -->
      <div class="input-container" *ngIf="!isLoading">
        <input
          type="text"
          placeholder="Digite a palavra..."
          [(ngModel)]="inputText"
          class="translator-input"
          (keyup.enter)="translate()"
        />

        <div  class="confirm-btn">
          <img  src="assets/lingobot/menu-icons/confirm.png" (click)="translate()" />
        </div>
      </div>
    </div>
  </div>
</div>
