/* Vídeo de fundo */
.background-video {
  position: absolute;
  top: 0px; /* Alinha o topo do vídeo com o topo do contêiner */
  padding-bottom:50px !important;
  left: 0; /* Alinha a esquerda do vídeo com a esquerda do contêiner */
  width: 100%; /* Faz o vídeo ocupar 100% da largura do contêiner */
  height: auto; /* Faz o vídeo ocupar 100% da altura do contêiner */
  object-fit: cover; /* Faz o vídeo cobrir toda a área do contêiner */
  z-index: 5; /* Coloca o vídeo atrás dos outros elementos */


}

/* Imagem de fundo */
.background-image {
  position: absolute;
  top: 0px; /* Mesma posição do vídeo */
  left: 0;
  width: 100%; /* Mesma largura do vídeo */
  height: auto; /* Altura proporcional */
  object-fit: cover; /* Cobrir a área como o vídeo */
  z-index: 5; /* Mesmo z-index do vídeo */
}


.background-commands {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 4;
}




.actions-title {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #1e1e1e;
}

.commands-group {
  display: flex;
  justify-content: center;
  gap: 1px; /* Espaçamento entre os comandos */
  align-items: center;
}

.command {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.command-text {
  margin-top: 8px;
  font-size: 1.0em;
  font-weight: bold;
  color: #222; /* Cor um pouco mais escura para melhor contraste */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Pequeno sombreamento para destaque */
}


.commands-group img {
  transition: box-shadow 0.3s ease-in-out;
}
