
<!--
<div id="mobile-console" style="
  position: absolute;
  top: 5vh;
  left: 1vw;
  width: 80%;
  height:100px;
  overflow-y: auto;
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999 !important;
  white-space: pre-wrap;
"></div>
-->

<img src="assets/lingobot/cenas_na_masmorra/speaking/Battle-scene-base.png" class="background-video">


<video #videoPlayer autoplay [loop]="loop" class="background-video">
  <source [src]="currentSrc" type="video/mp4">
</video>

<!-- DODGE ACTIVE SYMBOL -->
<img src="assets/lingobot/cenas_na_masmorra/speaking/dodge.png" class="dodge-symbol" *ngIf="dodgeStatus">


<!-- VIDA DO LINGOBOT -->
<div class="battery-bars">
  <img src="assets/lingobot/cenas_na_masmorra/speaking/lingobot.png" class="battery-icon"  >
  <div class="battery-bar-container">
    <img *ngFor="let bar of batteryArray; let i = index"
         [src]="i < currentBattery ? 'assets/lingobot/menu-icons/battery-on.png' : 'assets/lingobot/menu-icons/battery-off.png'"
         class="battery-bar-img">
  </div>
</div>


<!-- VIDA DO ELDER-->
<div class="battery-bars-elder">
  <div class="battery-bar-container">
    <img *ngFor="let bar of batteryArray; let i = index"
         [src]="i < currentBattery ? 'assets/lingobot/cenas_na_masmorra/speaking/elder-life.png' : 'assets/lingobot/cenas_na_masmorra/speaking/elder-life-off.png'"
         class="battery-bar-img">
  </div>
  <img src="assets/lingobot/cenas_na_masmorra/speaking/elder.png" class="battery-icon"  >
</div>


<!-- LETREIRO  -->
<div
  class="letreiro"
  *ngIf="imagemAtual"
  [@bounce]="animacaoEstado"
>
  <img [src]="imagemAtual" />
</div>




<!-- MAGIC BOOK -->
<div class="magic-book" *ngIf="magic_book_modal">


  <!-- Skill Preview Section -->
  <div *ngIf="skill_selected" class="skill-preview">
    <h3 class="change-mage" (click)="chooseAnotherSkill()" >Change Mage</h3>
    <img [src]="skill_selected_src" class="selected-img">
    <h3 class="skill-title">{{ skill_selected_title }}</h3>
    <p class="skill-description">{{ skill_selected_description }}</p>
    <h3 class="how_to_cast">Para conjurar, diga: </h3>
    <b  class="skill_phrase">“{{ this.skill_phrase }}”</b>
    <img
      src="assets/lingobot/cenas_na_masmorra/speaking/tocar_som.png"
      class="tocar_som pulse"
      (click)="!isLoading && getAudioTTS(skill_phrase)"
      [class.loading]="isLoading"
    />


  </div>


  <div class="grid-imagens-compacto" *ngIf="!skill_selected">

    <div class="grupo" >
      <img src="assets/lingobot/cenas_na_masmorra/speaking/eletric-atack.png" alt="ataque 1" (click)="chooseSkill(1)">
      <small>Attack</small>
    </div>
    <div class="grupo">
      <img src="assets/lingobot/cenas_na_masmorra/speaking/eletric-atack2.png" alt="ataque 2" (click)="chooseSkill(2)">
      <small>Attack</small>
    </div>
    <div class="grupo">
      <img src="assets/lingobot/cenas_na_masmorra/speaking/heal.png" alt="cura" (click)="chooseSkill(3)">
      <small>Defesa</small>
    </div>
    <div class="grupo">
      <img src="assets/lingobot/cenas_na_masmorra/speaking/dodge.png" alt="desvio" (click)="chooseSkill(4)">
      <small>Defesa</small>
    </div>

  </div>




</div> <!-- End magic book -->






<div   class="background-commands">




  <!-- MIC IMAGE COM COUNTDOWN -->
  <div class="mic-container" *ngIf="skill_selected">


    <div *ngIf="!apiLoading && userResponseStatus==''">
    <img
      *ngIf="mic"
      src="assets/lingobot/skills/speaking.png"
      class="mic"
      [ngClass]="{ 'pulse-animation': buttonEffect }"
      (click)="iniciarGracavaoContagem()"
    />
    <p>{{this.recordStatus}}</p>
    </div>


    <div *ngIf="apiLoading && userResponseStatus==''" class="processing-box">
      <img
        src="assets/lingobot/cenas_na_masmorra/speaking/magic-book-icon.png"
        class="book-icon"
        alt="Processando..."
      />
      <p class="processing-text">O livro está reagindo ao seu conjuramento. Aguarde...</p>
    </div>




    <div *ngIf="showCountdown" class="countdown-text">
      <p *ngIf="countdownValue > 0">{{ countdownValue }}</p>
      <p *ngIf="countdownValue === 0">🎤 Fale!</p>
    </div>



    <!-- ✅ RESPOSTA CORRETA -->
    <div *ngIf="userResponseStatus=='correct'" class="processing-box">
      <img
        src="assets/lingobot/cenas_na_masmorra/speaking/check.png"
        class="book-icon"
        alt="Resposta correta"
      />
      <p class="processing-text">Conjurando poder</p>
    </div>


    <!-- ❌ RESPOSTA INCORRETA -->
  <div *ngIf="userResponseStatus=='error'" class="processing-box">
    <img
      src="assets/lingobot/cenas_na_masmorra/speaking/error.png"
      class="book-icon"
      alt="Resposta incorreta"
    />
    <p class="processing-text">
      Você disse:
      "<b class="error-phrase">{{ transcriptionText }}</b>"
      Correto é: <b class="correct-phrase">"{{ skill_phrase }}"</b>   </p>
  </div>

  </div>




<div class="fundo" (click)="openMagicBook();"   *ngIf="!skill_selected && currentTurn!=='elders_turn'">
    <img src="assets/lingobot/cenas_na_masmorra/speaking/magic-book-icon.png" class="magic-book-icon">
  <br>
     <h3 class="elders-magic-book-title">Elders' Magic Book</h3>
</div>





  <ng-template  *ngIf="currentTurn=='elders_turn'">

    <img src="assets/lingobot/cenas_na_masmorra/speaking/elders_turn.png" style="width: 30%;height: auto">
  </ng-template>



</div>  <!-- background commands end -->






