<div class="skills-container">

  <!-- Skill: Listening -->
  <div class="skill-card">
    <img src="assets/lingobot/skills/listening.png" alt="Listening" class="skill-image">
    <div class="skill-info">
      <h4 class="skill-name">Listening</h4>
      <p class="skill-level">Lv. {{   this.listening  }}</p>
    </div>
  </div>

  <!-- Skill: Reading -->
  <div class="skill-card">
    <img src="assets/lingobot/skills/reading.png" alt="Reading" class="skill-image">
    <div class="skill-info">
      <h4 class="skill-name">Reading</h4>
      <p class="skill-level">Lv. {{   this.reading }}</p>
    </div>
  </div>

  <!-- Skill: Writing -->
  <div class="skill-card">
    <img  src="assets/lingobot/skills/writing.png" alt="Writing" class="skill-image">
    <div class="skill-info">
      <h4 class="skill-name">Writing</h4>
      <p class="skill-level">Lv. {{ this.writing }}</p>

    </div>
  </div>

  <!-- Skill: Speaking -->
  <div class="skill-card">
    <img  src="assets/lingobot/skills/speaking.png" alt="Speaking" class="skill-image">
    <div class="skill-info">
      <h4 class="skill-name">Speaking</h4>
      <p class="skill-level">Lv. {{ speaking }}</p>
    </div>
  </div>

</div>
