<div class="grid mobileConfig">





  <div *ngIf="showSuccessMessage" class="success-message show">
    {{this.alertMsg }}
  </div>
  <div *ngIf="showFailMessage" class="fail-popup">
     {{this.alertMsg }}
  </div>



<!--
  <div class="trail-card-basic" *ngIf="trilhaAtual !== ''">
    <p class="trail-card-title">Trilha Ativa</p>

    <h3 class="trail-card-name">{{ trilhaAtual }}</h3>

    <div class="trail-card-bounty">
      <p>Final Bounty</p>
      <div class="trail-card-rewards">
        <div class="trail-card-reward">
          <img src="assets/lingobot/icons/lxp.png" class="trail-card-icon" alt="LXP" style="  height: 16px !important;">
          <span class="trail-card-value">{{ final_lxp_bounty }}</span>
        </div>
        <div class="trail-card-reward"> { final_tokens_bounty }}
          <img src="assets/lingobot/icons/LingoToken.png" class="trail-card-icon" alt="LingoToken">
          <span class="trail-card-value">250</span>
        </div>
      </div>
    </div>
  </div>
-->



  <div  (mouseenter)="onMouseEnter()"  style="background-position: bottom;background-image: url('assets/lingobot/portao da torre.jpg'); background-size: cover; position: relative;"
    class="card">


    <!-- Informações da Trilha no canto superior esquerdo -->
    <div class="trilha-info">
      <div class="level-info">
        <span class="level-title">Level 1</span> <br>
        <span class="bounty-title">Final Bounty:</span>
      </div>
      <div class="rewards">
        <div class="reward-item">
          <img src="assets/lingobot/icons/lxp.png" class="reward-icon" alt="LXP" style="  height: 16px !important;">
          <span class="reward-value">10,000</span>
        </div>
        <div class="reward-item">
          <img src="assets/lingobot/icons/LingoToken.png" class="reward-icon" alt="LingoToken"  style="  height: 20px !important;">
          <span class="reward-value">250</span>
        </div>
      </div>
    </div>




    <div class="lock-icon" [ngClass]="trilhaAtual !== 'Level 1' ? 'locked' : 'unlocked'">
      <mat-icon *ngIf="trilhaAtual !== 'Level 1'">lock</mat-icon>
      <mat-icon *ngIf="trilhaAtual === 'Level 1'">lock_open</mat-icon>
    </div>



    <!-- Botão para liberar trilha (só aparece se não houver trilha ativa) -->
    <div class="button-container" *ngIf="this.user.Level >= 1 && this.trilhaAtual === ''">
      <button class="game-button" mat-flat-button (click)="selectTrilha(1)">
    <span class="button-content">
      Liberar trilha por
      <span class="token-wrapper">
        <img src="assets/lingobot/icons/LingoToken.png" alt="Token" class="token-icon">
        <span class="gold-text">0</span>
      </span>
    </span>
      </button>
    </div>

    <!-- Botão para iniciar trilha (aparece apenas para a trilha ativa) -->
    <div class="button-container" *ngIf="this.trilhaAtual === 'Level 1'">
      <button class="game-button" mat-flat-button (click)="navigate_to()">
    <span class="button-content">
      Iniciar Trilha
    </span>
      </button>
    </div>

    <!-- Mensagem para impedir ativação de outra trilha se já houver uma ativa -->
    <div class="button-container atinja-level" *ngIf="this.trilhaAtual !== '' && this.trilhaAtual !== 'Level 1'">
      <p>Finalize a Trilha Atual</p>
    </div>





  </div>





  <div
    (mouseenter)="onMouseEnter()"
    style="background-image: url('assets/lingobot/andando na masmorra.jpg'); background-size: cover; position: relative;background-position: center"
    class="card"
  >
    <!-- Informações da Trilha no canto superior esquerdo -->
    <!-- Informações da Trilha no canto superior esquerdo -->
    <div class="trilha-info">
      <div class="level-info">
        <span class="level-title">Level 20</span> <br>
        <span class="bounty-title">Final Bounty:</span>
      </div>
      <div class="rewards">
        <div class="reward-item">
          <img src="assets/lingobot/icons/lxp.png" class="reward-icon" alt="LXP" style="  height: 16px !important;">
          <span class="reward-value">20,000</span>
        </div>
        <div class="reward-item">
          <img src="assets/lingobot/icons/LingoToken.png" class="reward-icon" alt="LingoToken">
          <span class="reward-value">500</span>
        </div>
      </div>
    </div>

    <!-- Cadeado no canto superior direito -->
    <div class="lock-icon" [ngClass]="trilhaAtual !== 'Level 20' ? 'locked' : 'unlocked'">
      <mat-icon *ngIf="trilhaAtual !== 'Level 20'">lock</mat-icon>
      <mat-icon *ngIf="trilhaAtual === 'Level 20'">lock_open</mat-icon>
    </div>


    <!-- Botão para liberar trilha (só aparece se não houver trilha ativa) -->
    <div class="button-container" *ngIf="this.trilhaAtual === ''">
      <button class="game-button" mat-flat-button (click)="selectTrilha(20)">
    <span class="button-content">
      Liberar trilha por
      <span class="token-wrapper">
        <img src="assets/lingobot/icons/LingoToken.png" alt="Token" class="token-icon">
        <span class="gold-text">2500</span>
      </span>
    </span>
      </button>
    </div>

    <!-- Botão para iniciar trilha (aparece apenas para a trilha ativa) -->
    <div class="button-container" *ngIf="this.trilhaAtual === 'Level 20'">
      <button class="game-button" mat-flat-button (click)="navigate_to()">
    <span class="button-content">
      Iniciar Trilha
    </span>
      </button>
    </div>

    <!-- Mensagem para impedir ativação de outra trilha se já houver uma ativa -->
    <div class="button-container atinja-level" *ngIf="this.trilhaAtual !== '' && this.trilhaAtual !== 'Level 20'">
      <p>Finalize a Trilha Atual</p>
    </div>



  </div>




















<!--

  <div
    (mouseenter)="onMouseEnter()"
    style="background-image: url('assets/lingobot/lingobot-trilha3.png'); background-size: cover; position: relative;"
    class="card"
  >

    <div class="trilha-info">
      <div class="level-info">
        <span class="level-title">Level 40</span> <br>
        <span class="bounty-title">Final Bounty:</span>
      </div>
      <div class="rewards">
        <div class="reward-item">
          <img src="assets/lingobot/icons/lxp.png" class="reward-icon" alt="LXP" style="  height: 16px !important;">
          <span class="reward-value">100,000</span>
        </div>
        <div class="reward-item">
          <img src="assets/lingobot/icons/LingoToken.png" class="reward-icon" alt="LingoToken">
          <span class="reward-value">750</span>
        </div>
      </div>
    </div>

    <div class="lock-icon" [ngClass]="trilhaAtual !== 'Level 40' ? 'locked' : 'unlocked'">
      <mat-icon *ngIf="trilhaAtual !== 'Level 40'">lock</mat-icon>
      <mat-icon *ngIf="trilhaAtual === 'Level 40'">lock_open</mat-icon>
    </div>



    <div class="button-container" *ngIf="this.trilhaAtual === ''">
      <button class="game-button" mat-flat-button (click)="selectTrilha(40)">
    <span class="button-content">
      Liberar trilha por
      <span class="token-wrapper">
        <img src="assets/lingobot/icons/LingoToken.png" alt="Token" class="token-icon">
        <span class="gold-text">5000</span>
      </span>
    </span>
      </button>
    </div>


    <div class="button-container" *ngIf="this.trilhaAtual === 'Level 40'">
      <button class="game-button" mat-flat-button (click)="navigate_to()">
    <span class="button-content">
      Iniciar Trilha
    </span>
      </button>
    </div>


    <div class="button-container atinja-level" *ngIf="this.trilhaAtual !== '' && this.trilhaAtual !== 'Level 40'">
      <p>Finalize a Trilha Atual</p>
    </div>



  </div>


-->



</div> <!-- container end -->




<style>
  .token-icon {
    width: 30px;
    height: 27px;
  }

</style>
