.container {
  max-width: 400px;
  margin: 120px auto 0;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.suggestion {
  padding: 12px 16px;
  border: none;
  border-radius: 25px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  width: 45%;
  text-align: center;
  font-weight: bold;
}

.suggestion:hover {
  background-color: #e0e0e0;
}

.answer-input {
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  height: 100px;
  outline: none;
  width: 90%;
  background: white !important;
}
