/* You can add global styles to this file, and also import other style files */
/* styles.css (ou styles.scss) */

* {
  -webkit-tap-highlight-color: transparent !important; /* Remove o efeito azul no mobile */
  outline: none !important; /* Remove a borda de foco */
}




html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;


  background-image: url('/assets/lingobot/loading-bg/loading.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.center {
  display: flex;
  justify-content: center;
}



button:focus,
button:active,
a:focus,
a:active {
  outline: none !important;
  text-decoration: none;
}







button, a, input, textarea {
  -webkit-tap-highlight-color: transparent !important;
}

button:focus, a:focus, input:focus, textarea:focus {
  outline: none !important;
}





