.bottom-nav {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 5px 0;  /* Menos padding */
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  padding: 8px;  /* Ajuste o padding para ícones bem espaçados */
  color: #6e6e6e;
  cursor: pointer;
}

.nav-item:hover {
  color: #673ab7;  /* Cor roxa para o hover */
}

.mat-icon {
  font-size: 24px;  /* Ícone maior */
}
