<div class="bottom-nav hide-on-pc">
  <button class="nav-item" (click)="navigate_to('home')">
    <mat-icon>home</mat-icon>
  </button>
  <!-- missoes-diarias -> assignment -->
  <button class="nav-item" (click)="navigate_to('skills')">
    <mat-icon>bar_chart</mat-icon>
  </button>

  <!-- Botão central destacado -->
  <button class="nav-item nav-item-center" (click)="navigate_to('trilha')">
    <mat-icon class="white-icon">account_balance</mat-icon>
  </button>

  <button class="nav-item" (click)="navigate_to('ranking')">
    <mat-icon>emoji_events</mat-icon>
  </button>
  <button class="nav-item" (click)="navigate_to('referral')">
    <mat-icon>share</mat-icon>
  </button>
</div>

