
<div class="bottom-nav  ">

  <button class="nav-item" (click)="navigate_to('home')">
    <img src="assets/lingobot/menu-icons/icone-home.png" style="width: 50%;height: auto; ">
  </button>


  <button class="nav-item" (click)="navigate_to('home')">
    <img src="assets/lingobot/menu-icons/skills.png" style="width: 70%;height: auto; ;">
  </button>

  <button class="nav-item" (click)="navigate_to('ranking')">
    <img src="assets/lingobot/menu-icons/icone-ranking.png" style="width: 50%;height: auto; ">
  </button>

   <!-- NOVO PLANOS E REFERAL E MOEDAS A PARTE-->
  <button class="nav-item" (click)="navigate_to('referral')">
    <img src="assets/lingobot/menu-icons/pilha_de_moedas.png" style="width: 60%;height: auto; ">
  </button>



</div>









<!-- <div class="bottom-nav hide-on-pc">

  <button class="nav-item" (click)="navigate_to('home')">
    <mat-icon>home</mat-icon>
  </button>

  <button class="nav-item" (click)="navigate_to('skills')">
    <mat-icon>bar_chart</mat-icon>
  </button>

  <button class="nav-item nav-item-center" (click)="navigate_to('trilha')">
    <mat-icon class="white-icon">account_balance</mat-icon>
  </button>

  <button class="nav-item" (click)="navigate_to('ranking')">
    <mat-icon>emoji_events</mat-icon>
  </button>
  <button class="nav-item" (click)="navigate_to('referral')">
    <mat-icon>share</mat-icon>
  </button>
</div>

-->




