<!--<h1>Aqui vai ficar a barra de video , video e inputs para marcar expressions </h1>
-->


<h4 style="color:#CCC;font-size:14pt;text-align: center;margin:10px;">Digite uma expressão,
  gíria ou palavra que você não compreendeu e nossa IA explicará para você.</h4>



  <form [formGroup]="formulario"   style="margin:15px;margin-top:30px !important;">
    <mat-form-field  style="width: 100%">
      <mat-label>Ex: "{{expressaoAleatoria}}"</mat-label>
      <input  matInput formControlName="english" (input)="verify_button_completeWithGPT()" >
    </mat-form-field>
       <br>

    <div class="center"  >
      <button *ngIf="buttonGPT" (click)="completeGPT()"   mat-fab extended class="btn-tool">
        Get AI's explanation
      </button>
    </div>


    <br>

    <div class="center">
      <mat-spinner *ngIf="isLoading" diameter="80" color="primary" style="margin-right: 20px"></mat-spinner>
    </div>





<div *ngIf="showInputs">


    <mat-form-field  style="width: 100%" >
      <mat-label>Portuguese translation</mat-label>
      <input matInput formControlName="portugues" required>
    </mat-form-field>
<br>


    <mat-form-field   style="width: 100%">
      <mat-label>AI's explanation</mat-label>
      <textarea matInput formControlName="explain" rows="5"></textarea>
    </mat-form-field>
<br>
    <div class="center" *ngIf="this.formulario.valid">
      <button (click)="onSubmit()" type="submit"   mat-fab extended class="btn-tool">Save this SmartCard</button>
    </div>


</div>
  </form>


